force-app/main/default/flows/Account_Populate_AE_SA_ADR_and_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Child_AE_SA_and_Owner</name>
        <label>Assign Opportunity Child AE, SA, and Owner</label>
        <locationX>490</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>var_Opps_relatedto_childAccount.AE_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AE_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opps_relatedto_childAccount.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opps_relatedto_childAccount.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opps_relatedto_childAccount.Territory_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Territory_Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opps_relatedto_childAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Child_AE_SA_and_Owner_into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_record_values</name>
        <label>Assign Opportunity record values</label>
        <locationX>1315</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.AE_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AE_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.Territory_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Territory_Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_all_opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_record_values_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_opportunity_record_values2</name>
        <label>Assign opportunity record values</label>
        <locationX>1370</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.AE_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AE_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.Territory_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Territory_Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_All_Opportunities_of_Parent_Acc.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_opportunity_record_values_to_list2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_record_values_to_List</name>
        <label>Assign Opportunity record values to List</label>
        <locationX>1315</locationX>
        <locationY>3635</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpportunityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_all_opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_opportunity_record_values_to_list1</name>
        <label>Assign opportunity record values to list</label>
        <locationX>1106</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpportunityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_All_Opportunities_of_Parent_Acc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_opportunity_record_values_to_list2</name>
        <label>Assign opportunity record values to list</label>
        <locationX>1370</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpportunityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_All_Opportunities_of_Parent_Acc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_opportunity_records_values</name>
        <label>Assign opportunity records values</label>
        <locationX>1106</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MSP_Registered_Territory_Assignment.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.Territory_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MSP_Registered_Territory_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_All_Opportunities_of_Parent_Acc.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_opportunity_record_values_to_list1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Child_AE_SA_and_Owner_into_List</name>
        <label>Assignment Child AE, SA and Owner into List</label>
        <locationX>490</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>var_Opps_relatedto_childAccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Opps_relatedto_childAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Filter_Record_Count</name>
        <label>Assignment Filter Record Count</label>
        <locationX>996</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Territory_Assignemnt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Territory_Assignment_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Territory_Assignment</name>
        <label>Assignment Territory Assignment</label>
        <locationX>798</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varTerritoryAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_filtered_Territory_Assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_filtered_Territory_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Child_Accounts_into_a_List</name>
        <label>Store Child Accounts into a List</label>
        <locationX>490</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>var_ChildAccountIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Child_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Child_Accounts</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Territory_Assignemnt</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Territory Assignemnt</label>
        <locationX>996</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Filter_Territory_Assignemnt</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Territory_Assignment</collectionReference>
        <conditionLogic>1 AND 2 AND 3 AND( 4 OR  5 )</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt.Country__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.BillingCountry</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt.State_Province__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varState</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt.Zip_Code_Split__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varZipCodeSplit</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt.Company_First_Letter__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varCompanyFirstLetter</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt.Company_First_Letter__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varCompanyFirstLetter</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_Filter_Record_Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Child_Accounts_are_present_or_not_related_to_Parent_Account</name>
        <label>Child Accounts are present or not related to Parent Account</label>
        <locationX>710</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Get_All_opportunities_related_to_Parent_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Account</defaultConnectorLabel>
        <rules>
            <name>Is_Child_Account_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_Child_Accounts_related_to_Parent_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_AE_SA_ADR_and_Owner1</targetReference>
            </connector>
            <label>Is Child Account Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Territory_Assignment_Exist</name>
        <label>Does Territory Assignment Exist</label>
        <locationX>996</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Owner_Rick_Magana</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Territory Assignment</defaultConnectorLabel>
        <rules>
            <name>Yes_Territory_Assignment_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_the_filtered_Territory_Assignment</targetReference>
            </connector>
            <label>Yes Territory Assignment Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Child_Account</name>
        <label>Is Child Account?</label>
        <locationX>638</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Territory_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Account</defaultConnectorLabel>
        <rules>
            <name>Parent_Account_Located</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_AE_SA_ADR_and_Owner</targetReference>
            </connector>
            <label>Parent Account Located</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_RecordType_MSP</name>
        <label>Is Opportunity RecordType MSP?</label>
        <locationX>1238</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Assign_opportunity_record_values2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_All_Opportunities_of_Parent_Acc.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_opportunity_records_values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Account_located_in_an_International_Territory</name>
        <label>Is the Account located in an International Territory?</label>
        <locationX>1227</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Owner_Rick_Magana</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Territory_Assignemnt</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Adjusted to ensure international Accounts are assigned to the Default Territory</description>
    <environments>Default</environments>
    <formulas>
        <name>varCompanyFirstLetter</name>
        <dataType>String</dataType>
        <expression>IF( ( {!$Record.BillingState} = &apos;NY&apos; || {!$Record.BillingState} = &apos;NJ&apos; ), IF( ISBLANK( {!$Record.Name} ) , null, LEFT( {!$Record.Name} , 1 )) , null )</expression>
    </formulas>
    <formulas>
        <name>varState</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!$Record.BillingState} ), &apos;NULL&apos; , IF( {!$Record.BillingCountry} &lt;&gt; &apos;United States&apos; , &apos;NULL&apos;, {!$Record.BillingState} ))</expression>
    </formulas>
    <formulas>
        <name>varZipCodeSplit</name>
        <dataType>String</dataType>
        <expression>IF( TEXT( {!$Record.Zip_Code_Split__c} ) = &apos;&apos; ,  &apos;NULL&apos;, TEXT( {!$Record.Zip_Code_Split__c}))</expression>
    </formulas>
    <interviewLabel>Account - Populate AE, SA, ADR and Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Populate AE, SA, ADR and Owner</label>
    <loops>
        <name>Iterate_over_all_opportunities</name>
        <label>Iterate over all opportunities</label>
        <locationX>1227</locationX>
        <locationY>3419</locationY>
        <collectionReference>Get_All_Opportunities_related_to_the_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_record_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Owner_AE_SA_and_Territory_Assignment_on_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_All_Opportunities_of_Parent_Acc</name>
        <label>Iterate Over All Opportunities of Parent Acc</label>
        <locationX>1018</locationX>
        <locationY>1811</locationY>
        <collectionReference>Get_All_opportunities_related_to_Parent_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Opportunity_RecordType_MSP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Populate_Owner_and_MSP_Registered_Territory_Assignment_on_opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Child_Accounts</name>
        <label>Iterate through Child Accounts</label>
        <locationX>402</locationX>
        <locationY>1703</locationY>
        <collectionReference>Get_all_Child_Accounts_related_to_Parent_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Child_Accounts_into_a_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunities_related_to_Child_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Opportunities</name>
        <label>Iterate through Opportunities</label>
        <locationX>402</locationX>
        <locationY>2111</locationY>
        <collectionReference>Get_Opportunities_related_to_Child_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Child_AE_SA_and_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_AE_SA_ADR_and_Owner2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_the_filtered_Territory_Assignment</name>
        <label>Loop over the filtered Territory Assignment</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <collectionReference>Filter_Territory_Assignemnt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Territory_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Populate_AE_SA_ADR_and_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Child_Accounts_related_to_Parent_Account</name>
        <label>Get all Child Accounts related to Parent Account</label>
        <locationX>710</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Accounts_are_present_or_not_related_to_Parent_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_opportunities_related_to_Parent_Account</name>
        <label>Get All opportunities related to Parent Account</label>
        <locationX>1018</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MSP_Registered_Territory_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opportunities_related_to_the_Account</name>
        <label>Get All Opportunities related to the Account</label>
        <locationX>1227</locationX>
        <locationY>3311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_all_opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Owner_Rick_Magana</name>
        <label>Get Default Owner Rick Magana</label>
        <locationX>1227</locationX>
        <locationY>2987</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Territory_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rick Magana</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Territory_Assignment</name>
        <label>Get Default Territory Assignment</label>
        <locationX>1227</locationX>
        <locationY>3095</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Territory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_Registered_Territory_Assignment</name>
        <label>Get MSP Registered Territory Assignment</label>
        <locationX>1018</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_All_Opportunities_of_Parent_Acc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP Registered</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities_related_to_Child_Accounts</name>
        <label>Get Opportunities related to Child Accounts</label>
        <locationX>402</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>var_ChildAccountIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Assignment</name>
        <label>Get Territory Assignment</label>
        <locationX>1227</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Account_located_in_an_International_Territory</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Populate_AE_SA_ADR_and_Owner</name>
        <label>Populate AE, SA, ADR and Owner</label>
        <locationX>710</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_all_Child_Accounts_related_to_Parent_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>varTerritoryAssignment.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE_2__c</field>
            <value>
                <elementReference>varTerritoryAssignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTerritoryAssignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>varTerritoryAssignment.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment__c</field>
            <value>
                <elementReference>varTerritoryAssignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Owner</name>
        <label>Populate Owner</label>
        <locationX>1227</locationX>
        <locationY>3203</locationY>
        <connector>
            <targetReference>Get_All_Opportunities_related_to_the_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE_2__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Default_Owner_Rick_Magana.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Owner_and_MSP_Registered_Territory_Assignment_on_opportunities</name>
        <label>Populate Owner and MSP Registered Territory Assignment on opportunities</label>
        <locationX>1018</locationX>
        <locationY>2411</locationY>
        <inputReference>varOpportunityRecordList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_AE_SA_ADR_and_Owner</name>
        <label>Update Child AE, SA, ADR and Owner</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_related_Opportunities</targetReference>
        </connector>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>$Record.Parent.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE_2__c</field>
            <value>
                <elementReference>$Record.Parent.AE_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>$Record.Parent.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment__c</field>
            <value>
                <elementReference>$Record.Parent.Territory_Assignment__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_AE_SA_ADR_and_Owner1</name>
        <label>Update Child AE, SA, ADR and Owner</label>
        <locationX>402</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Iterate_through_Child_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>$Record.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE_2__c</field>
            <value>
                <elementReference>$Record.AE_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>$Record.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment__c</field>
            <value>
                <elementReference>$Record.Territory_Assignment__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_AE_SA_ADR_and_Owner2</name>
        <label>Update Child AE, SA, ADR and Owner</label>
        <locationX>402</locationX>
        <locationY>2519</locationY>
        <inputReference>var_Opps_relatedto_childAccountList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_AE_SA_and_Territory_Assignment_on_Opportunity</name>
        <label>Update Owner, AE, SA and Territory Assignment on Opportunity</label>
        <locationX>1227</locationX>
        <locationY>3827</locationY>
        <inputReference>varOpportunityRecordList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Opportunities</name>
        <label>Update related Opportunities</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AE_2__c</field>
            <value>
                <elementReference>$Record.Parent.AE_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>$Record.Parent.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment__c</field>
            <value>
                <elementReference>$Record.Parent.Territory_Assignment__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>512</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Child_Account</targetReference>
        </connector>
        <filterFormula>ISNEW()  || ( ISCHANGED({!$Record.BillingPostalCode}) || ISCHANGED({!$Record.BillingCountry}) ||  ISCHANGED({!$Record.ParentId}))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_Territory_Assignemnt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
    <variables>
        <name>var_ChildAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_ChildAccountIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChildAccounts_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_Opps_relatedto_childAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_Opps_relatedto_childAccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpportunityRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTerritoryAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
</Flow>
