force-app/main/default/flows/Account_UPDATE_Populate_AE_SA_ADR_and_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_Filter_Record_Count</name>
        <label>Assignment Filter Record Count</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Territory_Assignemnt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Territory_Assignment_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Territory_Assignment</name>
        <label>Assignment Territory Assignment</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTerritoryAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_filtered_Territory_Assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_filtered_Territory_Assignment</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Territory_Assignemnt</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Territory Assignemnt</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_Filter_Territory_Assignemnt</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Territory_Assignment</collectionReference>
        <conditionLogic>1 AND 2 AND 3 AND( 4 OR  5 )</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt.Country__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.BillingCountry</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt.State_Province__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varState</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt.Zip_Code_Split__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varZipCodeSplit</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt.Company_First_Letter__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varCompanyFirstLetter</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt.Company_First_Letter__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varCompanyFirstLetter</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_Filter_Record_Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Does_Territory_Assignment_Exist</name>
        <label>Does Territory Assignment Exist</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Owner_Rick_Magana</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Territory_Assignment_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_the_filtered_Territory_Assignment</targetReference>
            </connector>
            <label>Yes Territory Assignment Exist</label>
        </rules>
    </decisions>
    <description>1-run flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>varCompanyFirstLetter</name>
        <dataType>String</dataType>
        <expression>IF( ( {!$Record.BillingState} = &apos;NY&apos; || {!$Record.BillingState} = &apos;NJ&apos; ), IF( ISBLANK( {!$Record.Name} ) , null, LEFT( {!$Record.Name} , 1 )) , null )</expression>
    </formulas>
    <formulas>
        <name>varState</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!$Record.BillingState} ), &apos;NULL&apos; , IF( {!$Record.BillingCountry} &lt;&gt; &apos;United States&apos; , &apos;NULL&apos;, {!$Record.BillingState} ))</expression>
    </formulas>
    <formulas>
        <name>varZipCodeSplit</name>
        <dataType>String</dataType>
        <expression>IF( TEXT( {!$Record.Zip_Code_Split__c} ) = &apos;&apos; ,  &apos;NULL&apos;, TEXT( {!$Record.Zip_Code_Split__c}))</expression>
    </formulas>
    <interviewLabel>Account UPDATE - Populate AE, SA, ADR and Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account UPDATE - Populate AE, SA, ADR and Owner</label>
    <loops>
        <name>Loop_over_the_filtered_Territory_Assignment</name>
        <label>Loop over the filtered Territory Assignment</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Filter_Territory_Assignemnt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Territory_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Populate_AE_SA_ADR_and_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Default_Owner_Rick_Magana</name>
        <label>Get Default Owner Rick Magana</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Territory_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rick Magana</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Territory_Assignment</name>
        <label>Get Default Territory Assignment</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Territory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Assignment</name>
        <label>Get Territory Assignment</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Territory_Assignemnt</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Populate_AE_SA_ADR_and_Owner</name>
        <label>Populate AE, SA, ADR and Owner</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>varTerritoryAssignment.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE_2__c</field>
            <value>
                <elementReference>varTerritoryAssignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTerritoryAssignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>varTerritoryAssignment.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment__c</field>
            <value>
                <elementReference>varTerritoryAssignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Owner</name>
        <label>Populate Owner</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE_2__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Default_Owner_Rick_Magana.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Territory_Assignment</targetReference>
        </connector>
        <filterFormula>ISNEW()  || ( ISCHANGED({!$Record.BillingPostalCode}) || ISCHANGED({!$Record.BillingCountry})) || ({!$Record.Account_Update__c}=TRUE)</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_Filter_Territory_Assignemnt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTerritoryAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
</Flow>
