force-app/main/default/flows/Create_Child_Quote_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Count_Records_Fields_USF_Collection_Processor_Action_1</name>
        <label>Count Records &amp; Fields [USF Collection Processor] Action 1</label>
        <locationX>622</locationX>
        <locationY>1271</locationY>
        <actionName>CountRecordsAndFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Net_Fees_Calculated</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>SBQQ__QuoteLine__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>SBQQ__ProductName__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldValue</name>
            <value>
                <elementReference>Create_Child_Quote_Line</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Quote_Lines</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CountRecordsAndFields</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_All_Ids_and_ACV_Values</name>
        <label>Get All Ids and ACV Values</label>
        <locationX>182</locationX>
        <locationY>2279</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>SBQQ__QuoteLine__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>TCV_Price__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_All_Quote_Lines</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Unique_product_names_lines_from_QL</name>
        <label>Get Unique product names lines from QL</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sort_Quote_Lines</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>SBQQ__QuoteLine__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dedupeValues</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>SBQQ__ProductName__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_All_Quote_Lines</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Sort_Quote_Lines</name>
        <label>Sort Quote Lines</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <actionName>SortCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Child_Quote_Line</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>SBQQ__QuoteLine__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Child_Quote_Line__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Quote_Lines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortKeys</name>
            <value>
                <elementReference>Get_Unique_product_names_lines_from_QL.fieldValueString</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SortCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Child_Quote_Line_Fields</name>
        <label>Assign Child Quote Line Fields</label>
        <locationX>710</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>varRChildQuoteLineCreate.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Child_Quote_Line</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRChildQuoteLineCreate.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRChildQuoteLineCreate.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRChildQuoteLineCreate.Quantity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuantityValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRChildQuoteLineCreate.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRChildQuoteLineCreate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRChildQuoteLineCreate.Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DurationValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRChildQuoteLineCreate.Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductFamily</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRChildQuoteLineCreate.Net_Fees__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NetFeesValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Net_Fees_Calculated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Net_fees_variable</name>
        <label>Clear Net fees variable</label>
        <locationX>974</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>NetFeesValue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Net_Fees_Calculated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Net_fees_variable1</name>
        <label>Clear Net fees variable</label>
        <locationX>622</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>varRChildQuoteLineCreate.Quantity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRChildQuoteLineCreate.Net_Fees__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Count_Records_Fields_USF_Collection_Processor_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_All_CLI_Created</name>
        <label>Store All CLI Created</label>
        <locationX>622</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>varColChildQuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRChildQuoteLineCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Child_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Net_Fees</name>
        <label>Store Net Fees</label>
        <locationX>710</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>NetFeesValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Net_Fees_Calculated.TCV_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DurationValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Net_Fees_Calculated.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantityValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Net_Fees_Calculated.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductFamily</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Net_Fees_Calculated.SBQQ__ProductFamily__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Child_Quote_Line_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_CLI_Exists</name>
        <label>Any CLI Exists?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_All_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Child_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_all_existing_CLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Product_Name_matches_CLI</name>
        <label>Does Product Name matches CLI</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Clear_Net_fees_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matching_record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Net_Fees_Calculated.SBQQ__ProductName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Child_Quote_Line</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Net_Fees</targetReference>
            </connector>
            <label>Matching record found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Child Quote Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Child Quote Lines</label>
    <loops>
        <name>Create_Child_Quote_Line</name>
        <label>Create Child Quote Line</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Unique_product_names_lines_from_QL.fieldValueCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_Net_fees_variable1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_all_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Net_Fees_Calculated</name>
        <label>Get Net Fees Calculated</label>
        <locationX>622</locationX>
        <locationY>1379</locationY>
        <collectionReference>Get_All_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Product_Name_matches_CLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Store_All_CLI_Created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_all_records</name>
        <label>Create all records</label>
        <locationX>182</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>Get_All_Ids_and_ACV_Values</targetReference>
        </connector>
        <inputReference>varColChildQuoteLines</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_all_existing_CLI</name>
        <label>Delete all existing CLI</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_All_Quote_Lines</targetReference>
        </connector>
        <inputReference>Get_All_Child_Quote_Lines</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Child_Quote_Lines</name>
        <label>Get All Child Quote Lines</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_CLI_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Child_Quote_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Quote_Lines</name>
        <label>Get All Quote Lines</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unique_product_names_lines_from_QL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Child_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__LineItemCount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Generate_Services_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DurationValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NetFeesValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProductFamily</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuantityValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varColChildQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Child_Quote_Line__c</objectType>
    </variables>
    <variables>
        <name>varRChildQuoteLineCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Child_Quote_Line__c</objectType>
    </variables>
    <variables>
        <name>varTUniqueProducts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
