force-app/main/default/flows/Flow_Populate_ISO_Country_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_ISO_Code_lead</name>
        <label>Assign ISO Code lead</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Populate_ISO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_Record.Correct_Abbreviation__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Updated Text</description>
    <environments>Default</environments>
    <interviewLabel>Flow - Populate ISO Country Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Populate ISO Country Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Metadata_Record</name>
        <label>Get Metadata Record</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ISO_Code_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Input__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Metadata_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
