force-app/main/default/flows/Lead_Create_Update_Set_State_abbreviation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>State_Matches_an_Input_value</name>
        <label>State Matches an &apos;Input&apos; value?</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_State_Unrecognized_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Value Not Recognized</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_to_2_letter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Map_using_Input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_State_with_abbreviation</targetReference>
            </connector>
            <label>Yes, Update to 2 letter</label>
        </rules>
    </decisions>
    <decisions>
        <name>State_Value_Valid</name>
        <label>State Value Valid?</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_State_Map_using_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>State Value not Valid</defaultConnectorLabel>
        <rules>
            <name>State_Value_Valid1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Map_using_Correct_Abbreviation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_State_Unrecognized_False</targetReference>
            </connector>
            <label>State Value Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - Create/ Update - Set State to {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Create/ Update - Set State abbreviation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_State_Map_using_Correct_Abbreviation</name>
        <label>Get State Map using &apos;Correct Abbreviation&apos;</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>State_Value_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Correct_Abbreviation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>State_Map__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_State_Map_using_Input</name>
        <label>Get State Map using &apos;Input&apos;</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>State_Matches_an_Input_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Input__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>State_Map__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_State_Unrecognized_False</name>
        <label>Set State Unrecognized False</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State_Unrecognized__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>State_Unrecognized__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_State_Unrecognized_to_True</name>
        <label>Set &apos;State Unrecognized&apos; to True</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>State_Unrecognized__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_State_with_abbreviation</name>
        <label>Update State with abbreviation</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Get_State_Map_using_Input.Correct_Abbreviation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_Unrecognized__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_State_Map_using_Correct_Abbreviation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
