force-app/main/default/flows/Lead_Map_Account_Lead_Lookup_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Lead_Company_and_Website</name>
        <label>Assign Lead Company and Website</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>LeadCompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadWebsite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Matching_Accounts_by_Company_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Account_by_Website_Exist</name>
        <label>Does Account by Website Exist?</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AccountbyWebsiteExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Account_by_Website.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Lead_Lookup_Field_by_Website</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Related_Account_Exist</name>
        <label>Does Related Account Exist</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Matching_Account_by_Website</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Accounts_by_Company_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Lead_Lookup_Field_by_Company</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Changed the flow to only trigger when a record is created.</description>
    <environments>Default</environments>
    <formulas>
        <name>CompanyName</name>
        <dataType>String</dataType>
        <expression>IF(
    FIND(&quot; &quot;, {!$Record.Company}) &gt; 0,
    LEFT({!$Record.Company}, FIND(&quot; &quot;, {!$Record.Company}) - 1),
    {!$Record.Company}
  )</expression>
    </formulas>
    <formulas>
        <name>companyNameLength</name>
        <dataType>Number</dataType>
        <expression>LEN(TRIM( {!$Record.Company}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>var_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Lead - Map Account Lead Lookup Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Map Account Lead Lookup Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Matching_Account_by_Website</name>
        <label>Get Matching Account by Website</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_by_Website_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Website</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pulls in the first account found with an Account Name matching the Company Name field in the Lead.</description>
        <name>Get_Matching_Accounts_by_Company_Name</name>
        <label>Get Matching Accounts by Company Name</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Related_Account_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Lead_Lookup_Field_by_Company</name>
        <label>Update Account Lead Lookup Field by Company</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Lead_Lookup__c</field>
            <value>
                <elementReference>Get_Matching_Accounts_by_Company_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Lead_Lookup_Field_by_Website</name>
        <label>Update Account Lead Lookup Field by Website</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Lead_Lookup__c</field>
            <value>
                <elementReference>Get_Matching_Account_by_Website.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Lead_Company_and_Website</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From_Partner_Hubspot_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>400</triggerOrder>
    <variables>
        <name>LeadCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadWebsite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
