force-app/main/default/flows/Lead_Send_Meeting_Notification_Initiation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action</name>
        <label>Send Email Action</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead Meeting Notification {!Get_Lead_Record.Account_Lead_Lookup__r.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>Removed owner from address list and added Rick. Changed adr-lead-writeup@nilesecure.com to bdr-lead-writeup@nilesecure.com</description>
    <environments>Default</environments>
    <interviewLabel>Lead Send Meeting Notification Initiation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Send Meeting Notification Initiation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Check_Email_Screen</name>
        <label>Check Email Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Email_Action</targetReference>
        </connector>
        <fields>
            <name>Display_Email_Context</name>
            <fieldText>&lt;p&gt;{!emailBody}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The ADR meeting has been submitted. Please take a look at the details below for additional information:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Lead Owner:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!Get_Lead_Record.Owner:User.FirstName} {!Get_Lead_Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ADR:&lt;/strong&gt; {!Get_Lead_Record.ADR__r.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Lead_Record.ADR__r.LastName} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;AE: &lt;/strong&gt;{!Get_Lead_Record.AE__r.FirstName} {!Get_Lead_Record.AE__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account: &lt;/strong&gt;{!Get_Lead_Record.Account_Lead_Lookup__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Lead Name: &lt;/strong&gt;{!Get_Lead_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Lead_Record.Title}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Number of Employees: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Lead_Record.NumberOfEmployees}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Original Lead Source&lt;/strong&gt;: {!Get_Lead_Record.Original_Lead_Source__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Lead Source:&lt;/strong&gt; {!Get_Lead_Record.LeadSource}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Primary Campaign Source:&lt;/strong&gt; &lt;a href=&quot;https://nileglobal.lightning.force.com/{!Get_Lead_Record.CampaignID__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Lead_Record.CampaignID__r.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;SFDC Link: &lt;/strong&gt;&lt;a href=&quot;https://nileglobal.lightning.force.com/{!Get_Lead_Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!Get_Lead_Record.Name}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Meeting Date: &lt;/strong&gt;{!Get_Lead_Record.Meeting_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Decision Maker-Influencer-Champion : &lt;/strong&gt;{!Get_Lead_Record.Decision_Maker_Influencer_Champion__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Is there a need for Nile?: &lt;/strong&gt;{!Get_Lead_Record.Is_there_a_need_for_Nile__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Timeline: &lt;/strong&gt;{!Get_Lead_Record.Timeline__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Custom Notes: &lt;/strong&gt;{!Get_Lead_Record.Custom_Notes__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>List of users that will recieve the emails.</description>
        <name>EmailList</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>bdr-lead-writeup@nilesecure.com, {!Get_Lead_Record.ADR__r.Email},{!Get_Lead_Record.AE__r.Email}, rick@nilesecure.com</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
