force-app/main/default/flows/Lead_Disqualify_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <description>9/14/2022</description>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2022-09-14</dateValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_The_Last_Modified_Day_Is_Greater_Than_45</name>
        <label>Check If The Last Modified Day Is Greater Than 45</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDays</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>45.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Disqualifies MQL Leads that have not been modified in over 45 days. Updated to run weekly</description>
    <environments>Default</environments>
    <formulas>
        <name>varDays</name>
        <dataType>Number</dataType>
        <expression>TODAY() - DATEVALUE({!$Record.LastModifiedDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead - Disqualify Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Disqualify Leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Disqualified_Reason__c</field>
            <value>
                <stringValue>Over 45 Days Old - No SDR Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_The_Last_Modified_Day_Is_Greater_Than_45</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partner Registered</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-02-19</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varLeadCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
