force-app/main/default/flows/Lead_Scheduled_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>DQ Timeline 1 Year</description>
        <name>DQ_Timeline_1_Year</name>
        <label>DQ Timeline 1 Year</label>
        <locationX>842</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ADR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>DQ Timeline 1 Year</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Year_Ago</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MQL_24_Hour_Email</name>
        <label>MQL 24 Hour Email</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>MQL24HourRecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead - MQL 24 Hours Alert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MQL24hours</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MQL_48_hours_alert</name>
        <label>MQL 48 hours alert</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MQL48hours</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>MQL48hourrecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead - MQL 48 Hours Alert</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SQL_2_weeks_alert</name>
        <label>SQL 2 weeks alert</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SQL2weeks</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SQL2weekrecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead - SQL 2 Week Alert</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Not_modified</name>
        <label>Not modified</label>
        <locationX>578</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MQL_24_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Zoominfo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_stage_timestamp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotModifiedMQL</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotModifiedMQL</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>48.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MQL_24_Hour_Email</targetReference>
            </connector>
            <label>MQL 24 hours</label>
        </rules>
        <rules>
            <name>MQL_48_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MQL_stage_timestamp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Zoominfo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotModifiedMQL</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>48.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotModifiedMQL</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>72.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MQL_48_hours_alert</targetReference>
            </connector>
            <label>MQL 48 hours</label>
        </rules>
        <rules>
            <name>SQL_2_weeks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MQL_stage_timestamp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotModifiedSQL</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>336.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotModifiedSQL</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>360.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SQL_2_weeks_alert</targetReference>
            </connector>
            <label>SQL 2 weeks</label>
        </rules>
        <rules>
            <name>DQ_Timeline_One_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LAstModifiedbydate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disqualified_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Timeline  too far out; Renewal &gt;18 Months</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DQ_Timeline_1_Year</targetReference>
            </connector>
            <label>DQ Timeline One Year</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ADR</name>
        <dataType>String</dataType>
        <expression>{!$Record.ADR__r.Email}</expression>
    </formulas>
    <formulas>
        <name>LAstModifiedbydate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.LastModifiedDate} - 365</expression>
    </formulas>
    <formulas>
        <name>MQL24HourRecipientList</name>
        <dataType>String</dataType>
        <expression>&apos;rmontgomery@memoryblue.com,&apos; + &apos;Nicki@nilesecure.com&apos;</expression>
    </formulas>
    <formulas>
        <name>MQL48hourrecipients</name>
        <dataType>String</dataType>
        <expression>&apos;brian@nilesecure.com&apos;+&apos;,rick@nilesecure.com&apos;</expression>
    </formulas>
    <formulas>
        <name>NotModifiedMQL</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!$Record.LastModifiedDate})*24</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NotModifiedSQL</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!$Record.LastModifiedDate})*24</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SQL2weekrecipients</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Email}+&apos;,brian@nilesecure.com&apos;+&apos;,rick@nilesecure.com&apos;+&apos;,lou@nilesecure&apos;</expression>
    </formulas>
    <interviewLabel>Lead - Scheduled Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Scheduled Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Not_modified</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Zoominfo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SQL</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-01</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MQL24hours</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following Lead, has been created and not been modified in 24 hours. Please follow up.
Lead Name (FN/LN) - {!$Record.FirstName} {!$Record.LastName}
Company name - {!$Record.Company}
Email address - {!$Record.Email}
Created Date - {!$Record.CreatedDate}
Primary Campaign Source: https://nileglobal.lightning.force.com/{!$Record.CampaignID__r.Id}
Lead Record - https://nileglobal.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>MQL48hours</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following Lead, has been created .This Lead has not been modified in over 48 hours and needs follow up.&lt;/p&gt;&lt;p&gt;Lead Name (FN/LN) - {!$Record.FirstName} {!$Record.LastName}&lt;/p&gt;&lt;p&gt;Company name - {!$Record.Company}&lt;/p&gt;&lt;p&gt;Email address - {!$Record.Email}&lt;/p&gt;&lt;p&gt;Created Date - {!$Record.CreatedDate}&lt;/p&gt;&lt;p&gt;Lead Record - https://nileglobal.lightning.force.com/{!$Record.Id}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SQL2weeks</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following Lead, has been created and not been modified in 2 weeks. Please follow up.&lt;/p&gt;&lt;p&gt;Lead Name (FN/LN) - {!$Record.FirstName} {!$Record.LastName}&lt;/p&gt;&lt;p&gt;Company name - {!$Record.Company}&lt;/p&gt;&lt;p&gt;Email address - {!$Record.Email}&lt;/p&gt;&lt;p&gt;Created Date - {!$Record.CreatedDate}&lt;/p&gt;&lt;p&gt;Primary Campaign Source: https://nileglobal.lightning.force.com/{!$Record.CampaignID__r.Id}&lt;/p&gt;&lt;p&gt;Lead Record - https://nileglobal.lightning.force.com/{!$Record.Id}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Year_Ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following Lead, has been DQ for &quot;Timeline too far out. Renewal &amp;gt;18 Months&quot; a year ago. Please follow up.&lt;/p&gt;&lt;p&gt;Lead Name (FN/LN) - {!$Record.FirstName} {!$Record.LastName}&lt;/p&gt;&lt;p&gt;Company name - {!$Record.Company}&lt;/p&gt;&lt;p&gt;Email address - {!$Record.Email}&lt;/p&gt;&lt;p&gt;Created Date - {!$Record.CreatedDate}&lt;/p&gt;&lt;p&gt;Primary Campaign Source: &lt;a href=&quot;https://nileglobal.lightning.force.com/{!$Record.CampaignID__r.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://nileglobal.lightning.force.com/{!$Record.CampaignID__r.Id}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Lead Record - &lt;a href=&quot;https://nileglobal.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://nileglobal.lightning.force.com/{!$Record.Id}&lt;/a&gt;&quot;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
