force-app/main/default/flows/Lead_Populate_AE_SA_ADR_and_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_Filter_Record_Count</name>
        <label>Assignment Filter Record Count</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Territory_Assignemnt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Territory_Assignment_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Filter_Record_Count_For_International_Territory</name>
        <label>Assignment Filter Record Count For International Territory</label>
        <locationX>1326</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Territory_Assignemnt_For_International_Territory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Territory_Assignment_Exist_For_International_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Territory_Assignment</name>
        <label>Assignment Territory Assignment</label>
        <locationX>534</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varTerritoryAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_filtered_Territory_Assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_filtered_Territory_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Territory_Assignment_For_International_Territory</name>
        <label>Assignment Territory Assignment For International Territory</label>
        <locationX>1282</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varTerritoryAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_filtered_Territory_Assignment_For_International_Territory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_filtered_Territory_Assignment_For_International_Territory</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Territory_Assignemnt</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Territory Assignemnt</label>
        <locationX>644</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Territory_Assignment</collectionReference>
        <conditionLogic>1 AND 2 AND 3 AND( 4 OR  5 )</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory.Country__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.Country</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory.State_Province__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varState</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory.Zip_Code_Split__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varZipCodeSplit</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory.Company_First_Letter__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varCompanyFirstLetter</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory.Company_First_Letter__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varCompanyFirstLetter</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_Filter_Record_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Territory_Assignemnt_For_International_Territory</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Territory Assignemnt For International Territory</label>
        <locationX>1326</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Territory_Assignment</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory.Country__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.Country</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_Filter_Record_Count_For_International_Territory</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Does_Territory_Assignment_Exist</name>
        <label>Does Territory Assignment Exist</label>
        <locationX>644</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Get_Catch_All_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Territory_Assignment_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_the_filtered_Territory_Assignment</targetReference>
            </connector>
            <label>Yes Territory Assignment Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Territory_Assignment_Exist_For_International_Territory</name>
        <label>Does Territory Assignment Exist  For International Territory</label>
        <locationX>1326</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Get_Catch_All_Queue_For_International_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Territory_Assignment_Exist_For_International_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_the_filtered_Territory_Assignment_For_International_Territory</targetReference>
            </connector>
            <label>Yes Territory Assignment Exist For International Territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Partner_Registered</name>
        <label>Is Lead Partner Registered</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Populate_AE_SA_ADR_and_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Populate_AE_SA_ADR_and_Owner</targetReference>
            </connector>
            <label>Partner Registered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Source_equal_to_MSP_Registered</name>
        <label>Is Lead Source equal to  MSP Registered</label>
        <locationX>517</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Territory_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_Registered_Territory_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>It_Is_An_International_Territory</name>
        <label>It Is An International Territory</label>
        <locationX>985</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Filter_Territory_Assignemnt_For_International_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Territory_Assignemnt</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Updated the flow to reject leads that hold a Status value of Qualified or Disqualified on update. 
Added ADR as owner to the assignment for international Territories</description>
    <environments>Default</environments>
    <formulas>
        <name>varCompanyFirstLetter</name>
        <dataType>String</dataType>
        <expression>IF( ( {!$Record.State} = &apos;NY&apos; || {!$Record.State} = &apos;NJ&apos; ), IF( ISBLANK( {!$Record.Company} ) , null, LEFT( {!$Record.Company} , 1 )) , null )</expression>
    </formulas>
    <formulas>
        <name>varState</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK( {!$Record.State} ), &apos;NULL&apos;, ( IF ( {!$Record.Country} &lt;&gt; &apos;United States&apos; , &apos;NULL&apos; , {!$Record.State} ) ) )</expression>
    </formulas>
    <formulas>
        <name>varZipCodeSplit</name>
        <dataType>String</dataType>
        <expression>IF( TEXT( {!$Record.Zip_Code_Split__c} ) = &apos;&apos; ,  &apos;NULL&apos;, TEXT( {!$Record.Zip_Code_Split__c}))</expression>
    </formulas>
    <interviewLabel>Lead - Populate AE, SA, ADR and Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Populate AE, SA, ADR and Owner</label>
    <loops>
        <name>Loop_over_the_filtered_Territory_Assignment</name>
        <label>Loop over the filtered Territory Assignment</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <collectionReference>Filter_Territory_Assignemnt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Territory_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Lead_Partner_Registered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_the_filtered_Territory_Assignment_For_International_Territory</name>
        <label>Loop over the filtered Territory Assignment For International Territory</label>
        <locationX>1194</locationX>
        <locationY>971</locationY>
        <collectionReference>Filter_Territory_Assignemnt_For_International_Territory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Territory_Assignment_For_International_Territory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Populate_AE_SA_ADR_and_Owner_For_International_Territory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Catch_All_Queue</name>
        <label>Get Catch All Queue</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Territory_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Catch All</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Catch_All_Queue_For_International_Territory</name>
        <label>Get Catch All Queue For International Territory</label>
        <locationX>1458</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Territory_Assignment_For_International_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Catch All</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Territory_Assignment</name>
        <label>Get Default Territory Assignment</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Territory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Territory_Assignment_For_International_Territory</name>
        <label>Get Default Territory Assignment For International Territory</label>
        <locationX>1458</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Owner_For_International_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Territory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_Registered_Territory_Assignment</name>
        <label>Get MSP Registered Territory Assignment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Owner_and_MSP_Registered_Territory_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP Registered</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Assignment</name>
        <label>Get Territory Assignment</label>
        <locationX>985</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>It_Is_An_International_Territory</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Populate_AE_SA_ADR_and_Owner</name>
        <label>Populate AE, SA and Owner</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <inputAssignments>
            <field>AE__c</field>
            <value>
                <elementReference>varTerritoryAssignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTerritoryAssignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>varTerritoryAssignment.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment_Lookup__c</field>
            <value>
                <elementReference>varTerritoryAssignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_AE_SA_ADR_and_Owner</name>
        <label>Populate AE, SA, ADR and Owner</label>
        <locationX>578</locationX>
        <locationY>1379</locationY>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>varTerritoryAssignment.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE__c</field>
            <value>
                <elementReference>varTerritoryAssignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTerritoryAssignment.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>varTerritoryAssignment.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment_Lookup__c</field>
            <value>
                <elementReference>varTerritoryAssignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_AE_SA_ADR_and_Owner_For_International_Territory</name>
        <label>Populate AE, SA, ADR and Owner For International Territory</label>
        <locationX>1194</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>varTerritoryAssignment.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTerritoryAssignment.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment_Lookup__c</field>
            <value>
                <elementReference>varTerritoryAssignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Owner</name>
        <label>Populate Owner</label>
        <locationX>842</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Catch_All_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment_Lookup__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Owner_and_MSP_Registered_Territory_Assignment</name>
        <label>Populate Owner and MSP Registered Territory Assignment</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MSP_Registered_Territory_Assignment.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment_Lookup__c</field>
            <value>
                <elementReference>Get_MSP_Registered_Territory_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Owner_For_International_Territory</name>
        <label>Populate Owner For International Territory</label>
        <locationX>1458</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Catch_All_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment_Lookup__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>391</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Lead_Source_equal_to_MSP_Registered</targetReference>
        </connector>
        <filterFormula>AND(
  OR(
    ISNEW(),
    ISCHANGED({!$Record.PostalCode}),
    ISCHANGED({!$Record.LeadSource}),
    ISCHANGED({!$Record.Country}),
    ISCHANGED({!$Record.State})
  ),
  NOT(
    OR(
      ISPICKVAL({!$Record.Status}, &apos;Qualified&apos;),
      ISPICKVAL({!$Record.Status}, &apos;Disqualified&apos;)
    )
  )
)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>1200</triggerOrder>
    <variables>
        <name>currentItem_Filter_Territory_Assignemnt_For_International_Territory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTerritoryAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
</Flow>
