force-app/main/default/flows/Lead_Bulk_SDR_User_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_SDR</name>
        <label>Update SDR</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>UpdateSDRForLeadInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Completion</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>newAssignment</name>
            <value>
                <elementReference>New_Assignment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldAssignment</name>
            <value>
                <elementReference>Old_Assignment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sDRorBDRorAE</name>
            <value>
                <elementReference>SDR_or_ADR_or_AE</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateSDRForLeadInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>ADR</name>
        <choiceText>ADR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADR</stringValue>
        </value>
    </choices>
    <choices>
        <name>AE</name>
        <choiceText>AE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AE</stringValue>
        </value>
    </choices>
    <choices>
        <name>SDR</name>
        <choiceText>SDR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SDR</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>userPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Lead - Bulk SDR (User) Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Bulk SDR (User) Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>d</description>
        <name>Display_Completion</name>
        <label>Display Completion</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Lead_Update_Complete</name>
            <fieldText>&lt;p&gt;The records are being processed and will be completed in approximately 2 minutes. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SDR_Options</name>
        <label>SDR Options</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_SDR</targetReference>
        </connector>
        <fields>
            <name>LeadUpdateAssignments</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Lead: Update Assignments&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SDR_or_ADR_or_AE</name>
            <choiceReferences>SDR</choiceReferences>
            <choiceReferences>ADR</choiceReferences>
            <choiceReferences>AE</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SDR or ADR or AE</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Old_Assignment</name>
            <choiceReferences>userPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Old Assignment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Assignment</name>
            <choiceReferences>userPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Assignment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update Leads</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SDR_Options</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>leadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
