force-app/main/default/flows/Lead_Update_Disqualified_Reason.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Disqualified_Reason</name>
        <label>Check Disqualified Reason</label>
        <locationX>710</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1st_Disqualified_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X1st_Disqualified_Reason1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Disqualified_Reason</targetReference>
            </connector>
            <label>1st Disqualified Reason</label>
        </rules>
        <rules>
            <name>X2nd_Disqualified_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X2nd_Disqualified_Reason2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_2nd_Disqualified_Reason</targetReference>
            </connector>
            <label>2nd Disqualified Reason</label>
        </rules>
        <rules>
            <name>X3rd_Disqualified_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X3rd_Disqualified_Reason3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_3rd_Disqualified_Reason</targetReference>
            </connector>
            <label>3rd Disqualified Reason</label>
        </rules>
        <rules>
            <name>X4th_Disqualified_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X4th_Disqualified_Reason4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_4th_Disqualified_Reason</targetReference>
            </connector>
            <label>4th Disqualified Reason</label>
        </rules>
        <rules>
            <name>X5th_Disqualified_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X5th_Disqualified_Reason5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_5th_Disqualified_Reason</targetReference>
            </connector>
            <label>5th Disqualified Reason</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - Update Disqualified Reason {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Update Disqualified Reasons 1-5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_2nd_Disqualified_Reason</name>
        <label>Update 2nd Disqualified Reason</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>X2nd_Disqualified_Reason2__c</field>
            <value>
                <elementReference>$Record.Disqualified_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_3rd_Disqualified_Reason</name>
        <label>Update 3rd Disqualified Reason</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>X3rd_Disqualified_Reason3__c</field>
            <value>
                <elementReference>$Record.Disqualified_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_4th_Disqualified_Reason</name>
        <label>Update 4th Disqualified Reason</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>X4th_Disqualified_Reason4__c</field>
            <value>
                <elementReference>$Record.Disqualified_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_5th_Disqualified_Reason</name>
        <label>Update 5th Disqualified Reason</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>X5th_Disqualified_Reason5__c</field>
            <value>
                <elementReference>$Record.Disqualified_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Disqualified_Reason</name>
        <label>Update Disqualified Reason</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>X1st_Disqualified_Reason1__c</field>
            <value>
                <elementReference>$Record.Disqualified_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Disqualified_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
