force-app/main/default/flows/Lead_BDR_and_Owner_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_AE_Owner_L_Z_ADR_and_SA</name>
        <label>Copy 1 of Set AE Owner L-Z, ADR, and SA</label>
        <locationX>314</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_L_Z_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.SA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_L_Z_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ADR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.ADR__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Owner_AE_for_A_K_ADR_and_SA</name>
        <label>Copy 1 of Set Owner AE for A-K, ADR, and SA</label>
        <locationX>50</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_A_K_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.SA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_A_K_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ADR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.ADR__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_the_ADR_outside_North_America</name>
        <label>Copy 1 of Set the ADR outside North America</label>
        <locationX>1326</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_ADR_outside_US_and_Canada.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_ADR_outside_US_and_Canada.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_ADR_outside_US_and_Canada.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ADR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_ADR_outside_US_and_Canada.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_the_value_of_AE_ADR_and_SA</name>
        <label>Copy 1 of Set the value of AE, ADR, and SA</label>
        <locationX>578</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.AE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.SA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.AE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ADR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.ADR__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Value_of_ADR_SA_and_AE_1</name>
        <label>Copy 1 of Set Value of ADR, SA, and AE 1</label>
        <locationX>842</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_AE_Assignment_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_AE_Assignment_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_SA_Assignment_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ADR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_ADR_Assignment_1.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Value_of_ADR_SA_and_AE_2</name>
        <label>Copy 1 of Set Value of ADR, SA, and AE 2</label>
        <locationX>1106</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_AE_Assignment_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_AE_Assignment_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_SA_Assignment_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ADR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_ADR_Assignment_2.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_the_ADR_and_Owner_outside_North_America</name>
        <label>Set the ADR and Owner outside North America</label>
        <locationX>2998</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>$Record.ADR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Id_for_ADR_outside_US_and_Canada.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Id_for_ADR_outside_US_and_Canada.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Id_for_ADR_outside_US_and_Canada.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_the_value_of_ADR_Field</name>
        <label>Set Owner AE for A-K, ADR, and SA</label>
        <locationX>1722</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.ADR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ADR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.ADR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.SA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_A_K_User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_the_value_of_ADR_Field1</name>
        <label>Set AE Owner L-Z, ADR, and SA</label>
        <locationX>1986</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.ADR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ADR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.ADR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.SA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_L_Z_User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_the_value_of_ADR_Field_0_0</name>
        <label>Set the value of AE, ADR, and SA</label>
        <locationX>2250</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.ADR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.ADR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.ADR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.SA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Data.AE__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Value_of_ADR_SA_and_AE_1</name>
        <label>Set Value of ADR, SA, and AE 1</label>
        <locationX>2514</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Id_for_AE_Assignment_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ADR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_ADR_Assignment_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_AE_Assignment_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_SA_Assignment_1.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Value_of_ADR_SA_and_AE_2</name>
        <label>Set Value of ADR, SA, and AE 2</label>
        <locationX>2778</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Id_for_AE_Assignment_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ADR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_ADR_Assignment_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_AE_Assignment_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_User_Id_for_SA_Assignment_2.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Provinces_Field_Value</name>
        <label>Check Provinces Field Value</label>
        <locationX>2998</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Get_User_Id_for_ADR_outside_US_and_Canada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compare_Provinces_Field_Value</targetReference>
            </connector>
            <label>Value Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Provinces_Field_Value</name>
        <label>Compare Provinces Field Value</label>
        <locationX>2778</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Get_User_Id_for_ADR_outside_US_and_Canada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eastern_Canada</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Brunswick</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newfoundland and Labrador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nova Scotia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ontario</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prince Edward Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Id_for_ADR_Assignment_1</targetReference>
            </connector>
            <label>Eastern Canada</label>
        </rules>
        <rules>
            <name>Western_Canada</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yukon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alberta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>British Columbia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manitoba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Northwest Territories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nunavut</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saskatchewan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Id_for_AE_Assignment_2</targetReference>
            </connector>
            <label>Western Canada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Provinces_Field_Value</name>
        <label>Copy 1 of Check Provinces Field Value</label>
        <locationX>1326</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_User_Id_for_ADR_outside_US_and_Canada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Value_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country_Drop_Down__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Compare_Provinces_Field_Value</targetReference>
            </connector>
            <label>Copy 1 of Value Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Compare_Provinces_Field_Value</name>
        <label>Copy 1 of Compare Provinces Field Value</label>
        <locationX>1106</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_User_Id_for_ADR_outside_US_and_Canada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_Eastern_Canada</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Brunswick</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newfoundland and Labrador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nova Scotia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ontario</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prince Edward Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_User_Id_for_AE_Assignment_1</targetReference>
            </connector>
            <label>Copy 1 Eastern Canada</label>
        </rules>
        <rules>
            <name>Copy_1_Western_Canada</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yukon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alberta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>British Columbia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manitoba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Northwest Territories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nunavut</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saskatchewan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_User_Id_for_AE_Assignment_2</targetReference>
            </connector>
            <label>Copy 1 Western Canada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Does_Zip_Code_Exist</name>
        <label>Copy 1 of Does Zip Code Exist</label>
        <locationX>853</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Provinces_Field_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zip_Code_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_NY_or_NJ</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_NY_or_NJ</name>
        <label>Copy 1 of NY or NJ</label>
        <locationX>380</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_the_value_of_AE_ADR_and_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_YesNYorNJ</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zip_Code_Data.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Zip_Code_Data.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Start_A_K</targetReference>
            </connector>
            <label>Copy 1 of YesNYorNJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Start_A_K</name>
        <label>Copy 1 of Start A-K</label>
        <locationX>182</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_L_Z_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_YesA_K</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_A_K_User</targetReference>
            </connector>
            <label>Copy 1 of YesA-K</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Zip_Code_Exist</name>
        <label>Does Zip Code Exist</label>
        <locationX>2525</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Check_Provinces_Field_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zip_Code_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NY_or_NJ</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Source_Partner</name>
        <label>Is Lead Source Partner</label>
        <locationX>1689</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Does_Zip_Code_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Does_Zip_Code_Exist</targetReference>
            </connector>
            <label>YesPartner</label>
        </rules>
    </decisions>
    <decisions>
        <name>NY_or_NJ</name>
        <label>NY or NJ</label>
        <locationX>2052</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Set_the_value_of_ADR_Field_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesNYorNJ</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zip_Code_Data.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Zip_Code_Data.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_A_K</targetReference>
            </connector>
            <label>YesNYorNJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_A_K</name>
        <label>Start A-K</label>
        <locationX>1854</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Get_L_Z_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesA_K</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_A_K_User</targetReference>
            </connector>
            <label>YesA-K</label>
        </rules>
    </decisions>
    <description>Updated the Default Lead Owner to Zoe Gum.</description>
    <environments>Default</environments>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}+ &quot; &quot; +{!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>varZipCodeFormula</name>
        <dataType>String</dataType>
        <expression>LEFT(SUBSTITUTE({!$Record.PostalCode}, &quot; &quot;, &quot;&quot;),5)</expression>
    </formulas>
    <formulas>
        <name>ZipCode</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Get_Zip_Code_Data.Name})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ZipCode_Text</name>
        <dataType>String</dataType>
        <expression>{!Get_Zip_Code_Data.Name}</expression>
    </formulas>
    <interviewLabel>Lead - BDR and Owner Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - ADR and Owner Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_A_K_User</name>
        <label>Copy 1 of Get A-K User</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Set_Owner_AE_for_A_K_ADR_and_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scott</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wishnow</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_L_Z_User</name>
        <label>Copy 1 of Get L-Z User</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Set_AE_Owner_L_Z_ADR_and_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nate</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lippert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_User_Id_for_ADR_Assignment_1</name>
        <label>Copy 1 of Get User Id for ADR Assignment 1</label>
        <locationX>842</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Set_Value_of_ADR_SA_and_AE_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zoe</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gum</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_User_Id_for_ADR_Assignment_2</name>
        <label>Copy 1 of Get User Id for ADR Assignment 2</label>
        <locationX>1106</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Set_Value_of_ADR_SA_and_AE_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zoe</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gum</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_User_Id_for_ADR_outside_US_and_Canada</name>
        <label>Copy 1 of Get User Id for ADR outside US and Canada</label>
        <locationX>1326</locationX>
        <locationY>1643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Set_the_ADR_outside_North_America</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zoe</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gum</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_User_Id_for_AE_Assignment_1</name>
        <label>Copy 1 of Get User Id for AE Assignment 1</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_User_Id_for_SA_Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Joe</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Baradiez</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_User_Id_for_AE_Assignment_2</name>
        <label>Copy 1 of Get User Id for AE Assignment 2</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_User_Id_for_SA_Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Joe</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Baradiez</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_User_Id_for_SA_Assignment_1</name>
        <label>Copy 1 of Get User Id for SA Assignment 1</label>
        <locationX>842</locationX>
        <locationY>1043</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_User_Id_for_ADR_Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kevin</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Burgess</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_User_Id_for_SA_Assignment_2</name>
        <label>Copy 1 of Get User Id for SA Assignment 2</label>
        <locationX>1106</locationX>
        <locationY>1043</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_User_Id_for_ADR_Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kevin</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Burgess</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_A_K_User</name>
        <label>Get A-K User</label>
        <locationX>1722</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_the_value_of_ADR_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scott</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wishnow</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_L_Z_User</name>
        <label>Get L-Z User</label>
        <locationX>1986</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_the_value_of_ADR_Field1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nate</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lippert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Role</name>
        <label>Get Role</label>
        <locationX>1689</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Lead_Source_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ADR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id_for_ADR_Assignment_1</name>
        <label>Get User Id for ADR Assignment 1</label>
        <locationX>2514</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Id_for_AE_Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zoe</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gum</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id_for_ADR_Assignment_2</name>
        <label>Get User Id for ADR Assignment 2</label>
        <locationX>2778</locationX>
        <locationY>1043</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Id_for_SA_Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zoe</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gum</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id_for_ADR_outside_US_and_Canada</name>
        <label>Get User Id for ADR outside US and Canada</label>
        <locationX>2998</locationX>
        <locationY>1643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_the_ADR_and_Owner_outside_North_America</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zoe</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gum</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id_for_AE_Assignment_1</name>
        <label>Get User Id for AE Assignment 1</label>
        <locationX>2514</locationX>
        <locationY>1043</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Id_for_SA_Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Joe</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Baradiezj</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id_for_AE_Assignment_2</name>
        <label>Get User Id for AE Assignment 2</label>
        <locationX>2778</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Id_for_ADR_Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Joe</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Baradiezj</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id_for_SA_Assignment_1</name>
        <label>Get User Id for SA Assignment 1</label>
        <locationX>2514</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Value_of_ADR_SA_and_AE_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kevin</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Burgess</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id_for_SA_Assignment_2</name>
        <label>Get User Id for SA Assignment 2</label>
        <locationX>2778</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Value_of_ADR_SA_and_AE_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kevin</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Burgess</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zip_Code_Data</name>
        <label>Get Zip Code Data</label>
        <locationX>1689</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varZipCodeFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1563</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Zip_Code_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>From_Partner_Hubspot_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bypass_ADR_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Created_By_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ADR</stringValue>
            </value>
        </filters>
        <filters>
            <field>AE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ADR__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
