force-app/main/default/flows/Lead_Send_Reminder_Scheduled_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_the_email_reminder</name>
        <label>Send the email reminder</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kaden.souter@solvdllc.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>listOfEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder - You have a new Deal Registration you need to take action on</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Var_EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_the_recipient_Email_Address</name>
        <label>Add the recipient Email Address</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>listOfEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Partner_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_the_email_reminder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checked_that_reminder_timing</name>
        <label>checked that reminder timing</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_new_reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_CheckedReminderTiming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_the_recipient_Email_Address</targetReference>
            </connector>
            <label>Send new reminder</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Var_CheckedReminderTiming</name>
        <dataType>Boolean</dataType>
        <expression>(now() - {!$Record.CheckReminderTimer2__c}) &gt;= 1</expression>
    </formulas>
    <interviewLabel>Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Send Reminder Scheduled Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checked_that_reminder_timing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SQL</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>SendReminder2__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-25</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Var_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Sender: Deal Registration Received - partner@nilesecure.com&lt;/p&gt;&lt;p&gt;Sent to: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}, Partner@nilesecure.com, {!$Record.Partner_Account__r.Owner:User.Email}&lt;/p&gt;&lt;p&gt;Subject: A New Deal Registration is Submitted by {!$Record.Partner_Account__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date: {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have received a new deal registration submission from {!$Record.Partner_Account__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Submitted by: {!$Record.Partner_Account__r.Name}&lt;/p&gt;&lt;p&gt;Partner Contact: {!$Record.Partner_First_Name__c} {!$Record.Partner_Last_Name__c}, {!$Record.Partner_Job_Title__c}, {!$Record.Partner_Email__c}, {!$Record.Partner_Phone_Number__c}&lt;/p&gt;&lt;p&gt;Date of Submission: {!$Record.CreatedDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Company Name: {!$Record.Company}&lt;/p&gt;&lt;p&gt;Customer Contact: {!$Record.FirstName} {!$Record.LastName}, {!$Record.Title_Picklist__c}, {!$Record.Email}, {!$Record.Phone}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity Type: {!$Record.Partner_Opportunity_Type__c}&lt;/p&gt;&lt;p&gt;Project Description: {!$Record.Partner_Project_Description__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sales Force Link: https://nileglobal.lightning.force.com/{!$Record.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please align with the partner and “Accept” / “Reject” the opportunity within 24 hours.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>listOfEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
