force-app/main/default/flows/Lead_New_Form_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Date_to_Form_Submission_Dates</name>
        <label>Add Date to Form Submission Dates</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Var_LeadRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LeadRecord.Form_Submission_Dates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateToAppendFormating</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Lead_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Disqualified_Lead</name>
        <label>Update Disqualified Lead</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Var_LeadRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LeadRecord.Lead_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LeadRecord.Re_MQL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_for_Disqualified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_in_Nurture</name>
        <label>Update Lead in Nurture</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Var_LeadRecord.Lead_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LeadRecord.Re_MQL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_Record_for_Nurture</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Current_Lead_Status</name>
        <label>Current Lead Status</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DQ_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Stage_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Disqualified_Lead</targetReference>
            </connector>
            <label>Disqualified</label>
        </rules>
        <rules>
            <name>MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Condition__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Nurture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_in_Nurture</targetReference>
            </connector>
            <label>MQL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensures Lead was not deleted.</description>
        <name>Does_Lead_Exist</name>
        <label>Does Lead Exist</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Lead Record Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Lead_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Date_to_Form_Submission_Dates</targetReference>
            </connector>
            <label>Lead Record Exists</label>
        </rules>
    </decisions>
    <description>Added decision element to ensure deleted Leads to not go through the flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>DateToAppend</name>
        <dataType>String</dataType>
        <expression>TEXT(DATEVALUE({!$Record.Last_Form_Submission_Date__c}))</expression>
    </formulas>
    <interviewLabel>Lead - New Form Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - New Form Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_for_Disqualified</name>
        <label>Create Task for Disqualified</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirm: System updated Status from &apos;Disqualified&apos; to &apos;MQL&apos; Because of a Form Submit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Record_for_Nurture</name>
        <label>Create Task Record for Nurture</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirm: System updated Lead Condition from &apos;Nurture&apos; to &apos;Open&apos; Because of a Form Submit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <inputReference>Var_LeadRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Form_Submission_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DateToAppendFormating</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Form_Submission_Dates__c}
{!DateToAppend}</text>
    </textTemplates>
    <variables>
        <name>Var_LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
