force-app/main/default/flows/Lead_Populate_Original_Source.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Populate_the_Original_Lead_Source</name>
        <label>Populate the Original Lead Source</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Original_Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_the_Original_Value</name>
        <label>Populate the Original Value</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Original_Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_the_value_of_Lead_Source_from_Original_Value</name>
        <label>Populate the value of Lead Source from Original Value</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Original_Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.LeadSource</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_created_or_updated</name>
        <label>Check if created or updated</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Original_Lead_Source_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Updated</defaultConnectorLabel>
        <rules>
            <name>Is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_the_Original_Lead_Source</targetReference>
            </connector>
            <label>Is Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Original_Lead_Source_Populated</name>
        <label>Is Original Lead Source Populated</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Populated</defaultConnectorLabel>
        <rules>
            <name>Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Original_Lead_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LeadSource</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_the_value_of_Lead_Source_from_Original_Value</targetReference>
            </connector>
            <label>Not Populated</label>
        </rules>
        <rules>
            <name>Not_Populated_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Original_Lead_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_the_Original_Value</targetReference>
            </connector>
            <label>Not Populated 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>To check if the record is being created</description>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Lead - Populate Original Source {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Populate Original Source</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_created_or_updated</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
