force-app/main/default/flows/Lead_State_Country_Field_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Alberta</name>
        <label>Assign Alberta</label>
        <locationX>1898</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alberta</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_British_Columbia</name>
        <label>Assign British Columbia</label>
        <locationX>2162</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>British Columbia</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Canada_s_State_Province_from_Custom_Province</name>
        <label>Assign Canada&apos;s State/Province from Custom Province</label>
        <locationX>3746</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provinces__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Canada_to_Country_Drop_Down</name>
        <label>Assign Canada to Country Drop Down</label>
        <locationX>2008</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Country_Drop_Down__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_the_Country_State_is_for_Canada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Country_to_Custom_Country_Field</name>
        <label>Assign Country to Custom Country Field</label>
        <locationX>2272</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Country_Drop_Down__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_the_Country_State_is_for_Canada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Country_to_Standard_Country_Field</name>
        <label>Assign Country to Standard Country Field</label>
        <locationX>2536</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Drop_Down__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_the_Country_State_is_for_Canada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Manitoba</name>
        <label>Assign Manitoba</label>
        <locationX>2426</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manitoba</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_New_Brunswick</name>
        <label>Assign New Brunswick</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Brunswick</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Newfoundland_and_Labrador</name>
        <label>Assign Newfoundland and Labrador</label>
        <locationX>314</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Newfoundland and Labrador</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Northwest_Territories</name>
        <label>Assign Northwest Territories</label>
        <locationX>2690</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Northwest Territories</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Nova_Scotia</name>
        <label>Assign Nova Scotia</label>
        <locationX>578</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nova Scotia</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Nunavut</name>
        <label>Assign Nunavut</label>
        <locationX>2954</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nunavut</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Ontario</name>
        <label>Assign Ontario</label>
        <locationX>842</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Prince_Edward_Island</name>
        <label>Assign Prince Edward Island</label>
        <locationX>1106</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prince Edward Island</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Quebec</name>
        <label>Assign Quebec</label>
        <locationX>1370</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quebec</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Saskatchewan</name>
        <label>Assign Saskatchewan</label>
        <locationX>3218</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Saskatchewan</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_US_to_Country_Drop_Down</name>
        <label>Assign US to Country Drop Down</label>
        <locationX>1744</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Country_Drop_Down__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_the_Country_State_is_for_Canada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Yukon</name>
        <label>Assign Yukon</label>
        <locationX>1634</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Provinces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yukon</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_for_Country_Field</name>
        <label>Check for Country Field</label>
        <locationX>3240</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Country_to_Standard_Country_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_Country_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Check_if_the_Country_is_US_Canada</targetReference>
            </connector>
            <label>Standard Country Changed</label>
        </rules>
        <rules>
            <name>Country_Drop_Down_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Drop_Down__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Country_to_Standard_Country_Field</targetReference>
            </connector>
            <label>Country Drop Down Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Country_is_populated</name>
        <label>Check if the Country is populated?</label>
        <locationX>2888</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_if_the_Country_State_is_for_Canada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_Country_FIeld</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country_Drop_Down__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_Country_is_US_Canada</targetReference>
            </connector>
            <label>Standard Country FIeld</label>
        </rules>
        <rules>
            <name>Custom_Country_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Drop_Down__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country_Drop_Down__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Country_to_Standard_Country_Field</targetReference>
            </connector>
            <label>Custom Country Field</label>
        </rules>
        <rules>
            <name>Both_Country_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Country_Drop_Down__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_Country_State_is_for_Canada</targetReference>
            </connector>
            <label>Both Country Matches</label>
        </rules>
        <rules>
            <name>Both_Country_have_different_values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Country_Drop_Down__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Country_Field</targetReference>
            </connector>
            <label>Both Country have different values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Country_is_US_Canada</name>
        <label>Check if the Country is US/Canada?</label>
        <locationX>2008</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Assign_Country_to_Custom_Country_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>US</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States of America</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>America</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_US_to_Country_Drop_Down</targetReference>
            </connector>
            <label>US</label>
        </rules>
        <rules>
            <name>Canada</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Canada_to_Country_Drop_Down</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Country_State_is_for_Canada</name>
        <label>Check if the Country/State is for Canada</label>
        <locationX>2888</locationX>
        <locationY>779</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_State_Province</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_State_Name</targetReference>
            </connector>
            <label>Standard State/Province</label>
        </rules>
        <rules>
            <name>Custom_Province</name>
            <conditionLogic>(1 AND 15) AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Brunswick</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newfoundland and Labrador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nova Scotia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ontario</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prince Edward Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yukon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alberta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>British Columbia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manitoba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Northwest Territories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nunavut</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saskatchewan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provinces__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Canada_s_State_Province_from_Custom_Province</targetReference>
            </connector>
            <label>Custom Province</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_State_Name</name>
        <label>Check State Name</label>
        <locationX>1766</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Brunswick</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Brunswick</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Brunswick</targetReference>
            </connector>
            <label>New Brunswick</label>
        </rules>
        <rules>
            <name>Newfoundland_and_Labrador</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newfoundland and Labrador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Newfoundland_and_Labrador</targetReference>
            </connector>
            <label>Newfoundland and Labrador</label>
        </rules>
        <rules>
            <name>Nova_Scotia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nova Scotia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Nova_Scotia</targetReference>
            </connector>
            <label>Nova Scotia</label>
        </rules>
        <rules>
            <name>Ontario</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ontario</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ontario</targetReference>
            </connector>
            <label>Ontario</label>
        </rules>
        <rules>
            <name>Prince_Edward_Island</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prince Edward Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Prince_Edward_Island</targetReference>
            </connector>
            <label>Prince Edward Island</label>
        </rules>
        <rules>
            <name>Quebec</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quebec</targetReference>
            </connector>
            <label>Quebec</label>
        </rules>
        <rules>
            <name>Yukon</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yukon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Yukon</targetReference>
            </connector>
            <label>Yukon</label>
        </rules>
        <rules>
            <name>Alberta</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alberta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Alberta</targetReference>
            </connector>
            <label>Alberta</label>
        </rules>
        <rules>
            <name>British_Columbia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>British Columbia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_British_Columbia</targetReference>
            </connector>
            <label>British Columbia</label>
        </rules>
        <rules>
            <name>Manitoba</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manitoba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Manitoba</targetReference>
            </connector>
            <label>Manitoba</label>
        </rules>
        <rules>
            <name>Northwest_Territories</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Northwest Territories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Northwest_Territories</targetReference>
            </connector>
            <label>Northwest Territories</label>
        </rules>
        <rules>
            <name>Nunavut</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nunavut</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Nunavut</targetReference>
            </connector>
            <label>Nunavut</label>
        </rules>
        <rules>
            <name>Saskatchewan</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saskatchewan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Saskatchewan</targetReference>
            </connector>
            <label>Saskatchewan</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - State &amp; Country Field Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - State &amp; Country Field Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2762</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_the_Country_is_populated</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1200</triggerOrder>
</Flow>
