force-app/main/default/flows/Lead_Stage_Stamp_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Lead_exist_or_not</name>
        <label>Check Lead exist or not</label>
        <locationX>1804</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Examine_Create_in_MQL_Checkbox</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Examine whether the &apos;Create in INQ&apos; checkbox is filled or not from Hubspot.</description>
        <name>Examine_Create_in_INQ_Checkbox</name>
        <label>Examine &apos;Create in INQ&apos; Checkbox</label>
        <locationX>1337</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Stage_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Create in INQ</defaultConnectorLabel>
        <rules>
            <name>Create_in_INQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_in_INQ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_Status_And_Stage_Date</targetReference>
            </connector>
            <label>Create in INQ</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check and see if the &apos;Create in MQL&apos; checkbox from Hubspot was checked. If so, change status of lead to MQL.</description>
        <name>Examine_Create_in_MQL_Checkbox</name>
        <label>Examine &apos;Create in MQL&apos; Checkbox</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Examine_Create_in_INQ_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Create in MQL</defaultConnectorLabel>
        <rules>
            <name>Create_in_MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_in_MQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MQL_Record_Status_and_Date</targetReference>
            </connector>
            <label>Create in MQL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Stage</name>
        <label>Previous Stage?</label>
        <locationX>578</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Suspect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Suspect_Stage_Duration</targetReference>
            </connector>
            <label>Suspect</label>
        </rules>
        <rules>
            <name>INQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_INQ_Stage_Duration</targetReference>
            </connector>
            <label>INQ</label>
        </rules>
        <rules>
            <name>MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MQL_Stage_Duration</targetReference>
            </connector>
            <label>MQL</label>
        </rules>
        <rules>
            <name>AQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AQL_Stage_Duration</targetReference>
            </connector>
            <label>AQL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Changed</name>
        <label>Stage Changed?</label>
        <locationX>974</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Stage_Changed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Stage</targetReference>
            </connector>
            <label>Stage Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Decision</name>
        <label>Stage Decision</label>
        <locationX>1799</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Stamp_Last_Status_Date_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Suspect_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Suspect_Stage_Date</targetReference>
            </connector>
            <label>Suspect Stage</label>
        </rules>
        <rules>
            <name>INQ_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_INQ_Stage_Date</targetReference>
            </connector>
            <label>INQ Stage</label>
        </rules>
        <rules>
            <name>MQL_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MQL_Stage_Date</targetReference>
            </connector>
            <label>MQL Stage</label>
        </rules>
        <rules>
            <name>AQL_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AQL_Stage_Date</targetReference>
            </connector>
            <label>AQL Stage</label>
        </rules>
        <rules>
            <name>Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Converted_Stage_Date</targetReference>
            </connector>
            <label>Converted?</label>
        </rules>
    </decisions>
    <description>Checks if record is new to not over ride previous values.</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NewStageStamp</name>
        <dataType>Date</dataType>
        <expression>CASE( TEXT({!$Record.Status}),
&quot;Suspect&quot;, {!$Record.Suspect_Stage_Date__c},
&quot;INQ&quot;, {!$Record.INQ_Stage_Date__c},
&quot;MQL&quot;, {!$Record.MQL_Stage_Date__c},
&quot;AQL&quot;, {!$Record.AQL_Stage_Date__c},
TODAY() )</expression>
    </formulas>
    <formulas>
        <name>PriorStageStamp</name>
        <dataType>Date</dataType>
        <expression>CASE( TEXT({!$Record__Prior.Status}),
&quot;Suspect&quot;, {!$Record.Suspect_Stage_Date__c},
&quot;INQ&quot;, {!$Record.INQ_Stage_Date__c},
&quot;MQL&quot;, {!$Record.MQL_Stage_Date__c},
&quot;AQL&quot;, {!$Record.AQL_Stage_Date__c},
TODAY() )</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TotalDuration</name>
        <dataType>Number</dataType>
        <expression>{!NewStageStamp} - {!PriorStageStamp}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead - Stage Stamp Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Stage Stamp Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Records</name>
        <label>Get Lead Records</label>
        <locationX>1804</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lead_exist_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Stamp_Last_Status_Date_Field</name>
        <label>Stamp Last Status Date Field</label>
        <locationX>1799</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Status_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AQL_Stage_Date</name>
        <label>Update AQL Stage Date</label>
        <locationX>1931</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Stamp_Last_Status_Date_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>AQL_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AQL_Stage_Duration</name>
        <label>Update AQL Stage Duration</label>
        <locationX>842</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>AQL_Stage_Duration__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Converted_Stage_Date</name>
        <label>Update Converted Stage Date</label>
        <locationX>2195</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Stamp_Last_Status_Date_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Converted_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_INQ_Stage_Date</name>
        <label>Update INQ Stage Date</label>
        <locationX>1403</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Stamp_Last_Status_Date_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>INQ_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_INQ_Stage_Duration</name>
        <label>Update INQ Stage Duration</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>INQ_Stage_Duration__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MQL_Record_Status_and_Date</name>
        <label>Update MQL Record Status and Date</label>
        <locationX>611</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>MQL_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MQL_Stage_Date</name>
        <label>Update MQL Stage Date</label>
        <locationX>1667</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Stamp_Last_Status_Date_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>MQL_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MQL_Stage_Duration</name>
        <label>Update MQL Stage Duration</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>MQL_Stage_Duration__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Status_And_Stage_Date</name>
        <label>Update Record Status and Stage Date</label>
        <locationX>875</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>INQ_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>INQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suspect_Stage_Date</name>
        <label>Update Suspect Stage Date</label>
        <locationX>1139</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Stamp_Last_Status_Date_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Suspect_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suspect_Stage_Duration</name>
        <label>Update Suspect Stage Duration</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>Suspect_Stage_Duration__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1678</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Records</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.Status})</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
</Flow>
