force-app/main/default/flows/Lead_Update_disqualified_from_list_view.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_already_disqualified</name>
        <label>Add already disqualified</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Leadlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_lead.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead</name>
        <label>Assign Lead</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>LeadRecordSingle.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadRecordSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lead_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Record</name>
        <label>Assign Lead Record</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LeadRecordMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadRecordSingle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leaddisqualified</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_lead.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prior_Lead_Status</name>
        <label>Set Prior Lead Status</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LeadStatusBeforeDisqualified</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_lead.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_lead_is_already_disqualified</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>All_the_lead_already_disqualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Leads_to_disqualify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadRecordMultiple</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Leads to disqualify</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_lead_is_already_disqualified</name>
        <label>Check if lead is already disqualified</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Add_already_disqualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disqualified</defaultConnectorLabel>
        <rules>
            <name>Not_Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_lead.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead</targetReference>
            </connector>
            <label>Not Disqualified</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DisqualifiedReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Disqualified_Reason__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>leadurl</name>
        <dataType>String</dataType>
        <expression>{!Loop_over_lead.Id}</expression>
    </formulas>
    <formulas>
        <name>msg</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!leaddisqualified} )) &amp;&amp; ISBLANK({!Leadlist}),{!leaddisqualify} ,{!leadqualify}
)</expression>
    </formulas>
    <interviewLabel>Lead: Update disqualified from list view {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Update disqualified from list view</label>
    <loops>
        <name>Loop_over_lead</name>
        <label>Loop over lead</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Prior_Lead_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>The_lead_has_been_disqualified</targetReference>
        </connector>
        <inputReference>LeadRecordMultiple</inputReference>
    </recordUpdates>
    <screens>
        <name>All_the_lead_already_disqualified</name>
        <label>All the lead already disqualified</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_success</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(30, 31, 33); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(249, 248, 248);&quot;&gt;All the leads are already disqualified&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(249, 248, 248); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(30, 31, 33);&quot;&gt;{!Leadlist}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>The_lead_has_been_disqualified</name>
        <label>The lead has been disqualified</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;{!msg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>leaddisqualify</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Below Leads are disqualified&lt;/p&gt;&lt;p&gt;{!leaddisqualified}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>leadqualify</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Below Leads are  disqualified&lt;/p&gt;&lt;p&gt;{!leaddisqualified}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Below leads were already disqualified&lt;/p&gt;&lt;p&gt;{!Leadlist}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AlreadyDisqualifiedLeadMultiple</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>AlreadyDisqualifiedLeadSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leaddisqualified</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Leadlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadRecordMultiple</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadRecordSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadStatusBeforeDisqualified</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
