force-app/main/default/flows/Lead_Create_Partner_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <customErrors>
        <name>Found_Duplicate</name>
        <label>Found Duplicate</label>
        <locationX>1370</locationX>
        <locationY>1079</locationY>
        <customErrorMessages>
            <errorMessage>Please reach out to a system admin.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Found_Duplicate_0</name>
        <label>Found Duplicate</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <customErrorMessages>
            <errorMessage>Please reach out to a system admin.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_Account_has_duplicate</name>
        <label>Check if Account has duplicate</label>
        <locationX>1238</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Found_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Duplicate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record_fields_if_any_duplicate_present</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Partner_Record</targetReference>
            </connector>
            <label>No Duplicate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_Present</name>
        <label>Check if Account Present</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Found_Duplicate_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Duplicate_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record_fields_if_any_duplicate_present_in_Org</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Partner_Record</targetReference>
            </connector>
            <label>No Duplicate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_exist_or_not</name>
        <label>Check Lead exist or not</label>
        <locationX>1419</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_lead_from_Partner_Hubspot_Form</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Does_Partner_Record_Exist</name>
        <label>Does Partner Record Exist?</label>
        <locationX>1040</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Record_fields_if_any_duplicate_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Create Partner</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Partner_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Matching_Partner_Record.Partner_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Matching_Partner_Record.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Matching_Partner_Record.Website__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_rec</targetReference>
            </connector>
            <label>Partner Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_Lead_Already_Disqualified</name>
        <label>Is Lead Already Disqualified</label>
        <locationX>248</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Already Disqualified</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Needs_to_Be_Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Disqualify_Lead</targetReference>
            </connector>
            <label>Needs to Be Disqualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Partner_Record_Exist</name>
        <label>Does Partner Record Exist?</label>
        <locationX>248</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Record_fields_if_any_duplicate_present_in_Org</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Create Partner</defaultConnectorLabel>
        <rules>
            <name>Partner_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Matching_Partner_Record.Partner_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Matching_Partner_Record.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Matching_Partner_Record.Website__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Partner Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Already_Disqualified</name>
        <label>Is Lead Already Disqualified</label>
        <locationX>1040</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Already Disqualified</defaultConnectorLabel>
        <rules>
            <name>Needs_to_Be_Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disqualify_Lead</targetReference>
            </connector>
            <label>Needs to Be Disqualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_lead_from_Partner_Hubspot_Form</name>
        <label>Is lead from Partner Hubspot Form</label>
        <locationX>941</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FromPartnerHubspotForm</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.From_Partner_Hubspot_Form__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hubspot_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartnerRecordCreated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Partner_Record_Exist</targetReference>
            </connector>
            <label>Partner Hubspot Form</label>
        </rules>
        <rules>
            <name>Partner_Record_Created_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PartnerRecordCreated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Does_Partner_Record_Exist</targetReference>
            </connector>
            <label>Partner Record Created True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PartnerName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}+&quot; &quot;+ {!$Record.MiddleName}+&quot; &quot;+{!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>varName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + &quot; &quot; + {!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Lead - Create Partner Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Create Partner Record from Hubspot Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Partner_Record</name>
        <label>Create Partner Record</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Update_Lead_Record_When_Partner_is_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Delivery_Partners__c</field>
            <value>
                <elementReference>$Record.Delivery_Partners__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Employees__c</field>
            <value>
                <elementReference>$Record.Number_of_Employees_Picklist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_City__c</field>
            <value>
                <elementReference>$Record.Partner_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Country__c</field>
            <value>
                <elementReference>$Record.Country_Drop_Down__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_State__c</field>
            <value>
                <elementReference>$Record.Partner_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Type__c</field>
            <value>
                <elementReference>$Record.Partner_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </inputAssignments>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Partner_Record</name>
        <label>Create Partner Record</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Update_Lead_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Delivery_Partners__c</field>
            <value>
                <elementReference>$Record.Delivery_Partners__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Employees__c</field>
            <value>
                <elementReference>$Record.Number_of_Employees_Picklist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_City__c</field>
            <value>
                <elementReference>$Record.Partner_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Country__c</field>
            <value>
                <elementReference>$Record.Country_Drop_Down__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_State__c</field>
            <value>
                <elementReference>$Record.Partner_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Type__c</field>
            <value>
                <elementReference>$Record.Partner_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </inputAssignments>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record_fields_if_any_duplicate_present</name>
        <label>Get Account Record fields if any duplicate present</label>
        <locationX>1238</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_has_duplicate</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_fields_if_any_duplicate_present_in_Org</name>
        <label>Get Account Record fields if any duplicate present in Org</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_Present</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>1419</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Matching_Partner_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Partner_Record</name>
        <label>Get Matching Partner Record</label>
        <locationX>1419</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lead_exist_or_not</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Partner_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Disqualify_Lead</name>
        <label>Disqualify Lead</label>
        <locationX>116</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>Disqualification_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualified_Reason__c</field>
            <value>
                <stringValue>Prospective Partner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Disqualified_Reason1__c</field>
            <value>
                <stringValue>Prospective Partner</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Disqualify_Lead</name>
        <label>Disqualify Lead</label>
        <locationX>908</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>Disqualification_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualified_Reason__c</field>
            <value>
                <stringValue>Prospective Partner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Disqualified_Reason1__c</field>
            <value>
                <stringValue>Prospective Partner</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Copy_1_of_Is_Lead_Already_Disqualified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Associated_Partner__c</field>
            <value>
                <elementReference>Get_Matching_Partner_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_rec</name>
        <label>Update Lead</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Lead_Already_Disqualified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Associated_Partner__c</field>
            <value>
                <elementReference>Get_Matching_Partner_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Copy_1_of_Is_Lead_Already_Disqualified</targetReference>
        </connector>
        <inputAssignments>
            <field>Associated_Partner__c</field>
            <value>
                <elementReference>Create_Partner_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerRecordCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record_When_Partner_is_Created</name>
        <label>Update Lead Record When Partner is Created</label>
        <locationX>1106</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Is_Lead_Already_Disqualified</targetReference>
        </connector>
        <inputAssignments>
            <field>Associated_Partner__c</field>
            <value>
                <elementReference>Copy_1_of_Create_Partner_Record</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1293</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>From_Partner_Hubspot_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hubspot_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>3</triggerOrder>
    <variables>
        <name>Partner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Partner_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner__c</objectType>
    </variables>
    <variables>
        <name>Partner_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner__c</objectType>
    </variables>
</Flow>
