force-app/main/default/flows/Opportunity_Populate_AE_ADR_and_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_Filter_Record_Count</name>
        <label>Assignment Filter Record Count</label>
        <locationX>908</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Territory_Assignemnt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Territory_Assignment_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Territory_Assignment</name>
        <label>Assignment Territory Assignment</label>
        <locationX>798</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varTerritoryAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_filtered_Territory_Assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_filtered_Territory_Assignment</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Territory_Assignemnt</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Territory Assignemnt</label>
        <locationX>908</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Territory_Assignment</collectionReference>
        <conditionLogic>1 AND 2 AND 3 AND( 4 OR  5 )</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory.Country__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varBillingCountry</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory.State_Province__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varState</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory.Zip_Code_Split__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varZipCodeSplit</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory.Company_First_Letter__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>varCompanyFirstLetter</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Territory_Assignemnt_For_International_Territory.Company_First_Letter__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varCompanyFirstLetter</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_Filter_Record_Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Does_Territory_Assignment_Exist</name>
        <label>Does Territory Assignment Exist</label>
        <locationX>908</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Owner_Rick_Magana</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Territory Assignment</defaultConnectorLabel>
        <rules>
            <name>Yes_Territory_Assignment_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_the_filtered_Territory_Assignment</targetReference>
            </connector>
            <label>Yes Territory Assignment Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Opportunity_Record_Type_equals_to_MSP</name>
        <label>is Opportunity Record Type equals to MSP</label>
        <locationX>710</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Populate_AE_SA_ADR_and_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_Registered_Territory_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Opportunity_related_to_a_Child_Account</name>
        <label>Is the Opportunity related to a Child Account?</label>
        <locationX>638</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Territory_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related to Parent Account</defaultConnectorLabel>
        <rules>
            <name>Parent_Account_Located</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_is_present_or_not</targetReference>
            </connector>
            <label>Parent Account Located</label>
        </rules>
    </decisions>
    <decisions>
        <name>It_the_Opportunity_located_in_an_International_Territory</name>
        <label>It the Opportunity located in an International Territory</label>
        <locationX>1095</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Owner_Rick_Magana</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Address__CountryCode__s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Address__CountryCode__s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Territory_Assignemnt</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_is_present_or_not</name>
        <label>Parent is present or not</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Parent_is_present_or_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_AE_SA_ADR_and_Owner</targetReference>
            </connector>
            <label>Outcome 1 of Parent is present or not</label>
        </rules>
    </decisions>
    <description>Adjusted flow to account for Countries outside of US and Canada and the Default Territory assignment for international Opportunities</description>
    <environments>Default</environments>
    <formulas>
        <name>varBillingCountry</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Billing_Address__CountryCode__s}) == &apos;US&apos; , &apos;United States&apos;, TEXT({!$Record.Billing_Address__CountryCode__s}))</expression>
    </formulas>
    <formulas>
        <name>varBillingCountry1</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Billing_Address__CountryCode__s}),
&quot;AF&quot;,&quot;Afghanistan&quot;,
&quot;AL&quot;,&quot;Albania&quot;,
&quot;DZ&quot;,&quot;Algeria&quot;,
&quot;AD&quot;,&quot;Andorra&quot;,
&quot;AO&quot;,&quot;Angola&quot;,
&quot;AI&quot;,&quot;Anguilla&quot;,
&quot;AG&quot;,&quot;Antigua &amp; Barbuda&quot;,
&quot;AR&quot;,&quot;Argentina&quot;,
&quot;AM&quot;,&quot;Armenia&quot;,
&quot;AW&quot;,&quot;Aruba&quot;,
&quot;SH&quot;,&quot;Ascension&quot;,
&quot;AU&quot;,&quot;Australia&quot;,
&quot;AT&quot;,&quot;Austria&quot;,
&quot;AZ&quot;,&quot;Azerbaijan&quot;,
&quot;&quot;,&quot;Azores&quot;,
&quot;BS&quot;,&quot;Bahamas&quot;,
&quot;BH&quot;,&quot;Bahrain&quot;,
&quot;BD&quot;,&quot;Bangladesh&quot;,
&quot;BB&quot;,&quot;Barbados&quot;,
&quot;BY&quot;,&quot;Belarus&quot;,
&quot;BE&quot;,&quot;Belgium&quot;,
&quot;BZ&quot;,&quot;Belize&quot;,
&quot;BJ&quot;,&quot;Benin&quot;,
&quot;BM&quot;,&quot;Bermuda&quot;,
&quot;BT&quot;,&quot;Bhutan&quot;,
&quot;BO&quot;,&quot;Bolivia&quot;,
&quot;BA&quot;,&quot;Bosnia-Herzegovina&quot;,
&quot;BW&quot;,&quot;Botswana&quot;,
&quot;BR&quot;,&quot;Brazil&quot;,
&quot;VG&quot;,&quot;British Virgin Islands&quot;,
&quot;BN&quot;,&quot;Brunei Darussalam&quot;,
&quot;BG&quot;,&quot;Bulgaria&quot;,
&quot;BF&quot;,&quot;Burkina Faso&quot;,
&quot;MM&quot;,&quot;Burma&quot;,
&quot;BI&quot;,&quot;Burundi&quot;,
&quot;KH&quot;,&quot;Cambodia&quot;,
&quot;CM&quot;,&quot;Cameroon&quot;,
&quot;CA&quot;,&quot;Canada&quot;,
&quot;CV&quot;,&quot;Cape Verde&quot;,
&quot;KY&quot;,&quot;Cayman Islands&quot;,
&quot;CF&quot;,&quot;Central African Republic&quot;,
&quot;TD&quot;,&quot;Chad&quot;,
&quot;CL&quot;,&quot;Chile&quot;,
&quot;CN&quot;,&quot;China&quot;,
&quot;CO&quot;,&quot;Colombia&quot;,
&quot;KM&quot;,&quot;Comoros&quot;,
&quot;CD&quot;,&quot;Congo, Democratic Republic of The&quot;,
&quot;CG&quot;,&quot;Congo, Republic of The (Brazzaville)&quot;,
&quot;&quot;,&quot;Corsica&quot;,
&quot;CR&quot;,&quot;Costa Rica&quot;,
&quot;CI&quot;,&quot;Cote d&apos;Ivoire&quot;,
&quot;HR&quot;,&quot;Croatia&quot;,
&quot;CU&quot;,&quot;Cuba&quot;,
&quot;CY&quot;,&quot;Cyprus&quot;,
&quot;CZ&quot;,&quot;Czech Republic&quot;,
&quot;DK&quot;,&quot;Denmark&quot;,
&quot;DJ&quot;,&quot;Djibouti&quot;,
&quot;DM&quot;,&quot;Dominica&quot;,
&quot;DO&quot;,&quot;Dominican Republic&quot;,
&quot;EC&quot;,&quot;Ecuador&quot;,
&quot;EG&quot;,&quot;Egypt&quot;,
&quot;SV&quot;,&quot;El Salvador&quot;,
&quot;GQ&quot;,&quot;Equatorial Guinea&quot;,
&quot;ER&quot;,&quot;Eritrea&quot;,
&quot;EE&quot;,&quot;Estonia&quot;,
&quot;ET&quot;,&quot;Ethiopia&quot;,
&quot;FK&quot;,&quot;Falkland Islands&quot;,
&quot;FO&quot;,&quot;Faroe Islands&quot;,
&quot;FJ&quot;,&quot;Fiji&quot;,
&quot;FI&quot;,&quot;Finland&quot;,
&quot;FR&quot;,&quot;France&quot;,
&quot;GF&quot;,&quot;French Guiana&quot;,
&quot;PF&quot;,&quot;French Polynesia&quot;,
&quot;GA&quot;,&quot;Gabon&quot;,
&quot;GM&quot;,&quot;Gambia&quot;,
&quot;GE&quot;,&quot;Georgia, Republic of&quot;,
&quot;DE&quot;,&quot;Germany&quot;,
&quot;GH&quot;,&quot;Ghana&quot;,
&quot;GI&quot;,&quot;Gibraltar&quot;,
&quot;GB&quot;,&quot;Great Britain &amp; Northern Ireland&quot;,
&quot;GR&quot;,&quot;Greece&quot;,
&quot;GL&quot;,&quot;Greenland&quot;,
&quot;GD&quot;,&quot;Grenada&quot;,
&quot;GP&quot;,&quot;Guadeloupe&quot;,
&quot;GT&quot;,&quot;Guatemala&quot;,
&quot;GN&quot;,&quot;Guinea&quot;,
&quot;GW&quot;,&quot;Guinea-Bissau&quot;,
&quot;GY&quot;,&quot;Guyana&quot;,
&quot;HT&quot;,&quot;Haiti&quot;,
&quot;HN&quot;,&quot;Honduras&quot;,
&quot;HK&quot;,&quot;Hong Kong&quot;,
&quot;HU&quot;,&quot;Hungary&quot;,
&quot;IS&quot;,&quot;Iceland&quot;,
&quot;IN&quot;,&quot;India&quot;,
&quot;ID&quot;,&quot;Indonesia&quot;,
&quot;IR&quot;,&quot;Iran&quot;,
&quot;IQ&quot;,&quot;Iraq&quot;,
&quot;IE&quot;,&quot;Ireland&quot;,
&quot;IL&quot;,&quot;Israel&quot;,
&quot;IT&quot;,&quot;Italy&quot;,
&quot;CI&quot;,&quot;Ivory Coast&quot;,
&quot;JM&quot;,&quot;Jamaica&quot;,
&quot;JP&quot;,&quot;Japan&quot;,
&quot;JO&quot;,&quot;Jordan&quot;,
&quot;&quot;,&quot;Kampuchea&quot;,
&quot;KZ&quot;,&quot;Kazakhstan&quot;,
&quot;KE&quot;,&quot;Kenya&quot;,
&quot;KI&quot;,&quot;Kiribati&quot;,
&quot;KP&quot;,&quot;Korea, Democratic People&apos;s Republic of (N. Korea)&quot;,
&quot;KR&quot;,&quot;Korea, Republic of (S. Korea)&quot;,
&quot;KW&quot;,&quot;Kuwait&quot;,
&quot;KG&quot;,&quot;Kyrgyzstan&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varBillingCountry2</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Billing_Address__CountryCode__s}),
&quot;LA&quot;,&quot;Laos&quot;,
&quot;LV&quot;,&quot;Latvia&quot;,
&quot;LB&quot;,&quot;Lebanon&quot;,
&quot;LS&quot;,&quot;Lesotho&quot;,
&quot;LR&quot;,&quot;Liberia&quot;,
&quot;LY&quot;,&quot;Libya&quot;,
&quot;LI&quot;,&quot;Liechtenstein&quot;,
&quot;LT&quot;,&quot;Lithuania&quot;,
&quot;LU&quot;,&quot;Luxembourg&quot;,
&quot;MO&quot;,&quot;Macao&quot;,
&quot;MK&quot;,&quot;Macedonia, Republic of&quot;,
&quot;MG&quot;,&quot;Madagascar&quot;,
&quot;&quot;,&quot;Madeira Islands&quot;,
&quot;MW&quot;,&quot;Malawi&quot;,
&quot;MY&quot;,&quot;Malaysia&quot;,
&quot;MV&quot;,&quot;Maldives&quot;,
&quot;ML&quot;,&quot;Mali&quot;,
&quot;MT&quot;,&quot;Malta&quot;,
&quot;MH&quot;,&quot;Marshall Islands, Republic of&quot;,
&quot;MQ&quot;,&quot;Martinique&quot;,
&quot;MR&quot;,&quot;Mauritania&quot;,
&quot;MU&quot;,&quot;Mauritius&quot;,
&quot;MX&quot;,&quot;Mexico&quot;,
&quot;FM&quot;,&quot;Micronesia, Federated States of&quot;,
&quot;MD&quot;,&quot;Moldova&quot;,
&quot;MN&quot;,&quot;Mongolia&quot;,
&quot;ME&quot;,&quot;Montenegro&quot;,
&quot;MS&quot;,&quot;Montserrat&quot;,
&quot;MA&quot;,&quot;Morocco&quot;,
&quot;MZ&quot;,&quot;Mozambique&quot;,
&quot;NA&quot;,&quot;Namibia&quot;,
&quot;NR&quot;,&quot;Nauru&quot;,
&quot;NP&quot;,&quot;Nepal&quot;,
&quot;NL&quot;,&quot;Netherlands&quot;,
&quot;AN&quot;,&quot;Netherlands Antilles&quot;,
&quot;NC&quot;,&quot;New Caledonia&quot;,
&quot;NZ&quot;,&quot;New Zealand&quot;,
&quot;NI&quot;,&quot;Nicaragua&quot;,
&quot;NE&quot;,&quot;Niger&quot;,
&quot;NG&quot;,&quot;Nigeria&quot;,
&quot;NO&quot;,&quot;Norway&quot;,
&quot;OM&quot;,&quot;Oman&quot;,
&quot;PK&quot;,&quot;Pakistan&quot;,
&quot;PA&quot;,&quot;Panama&quot;,
&quot;PG&quot;,&quot;Papua New Guinea&quot;,
&quot;PY&quot;,&quot;Paraguay&quot;,
&quot;PE&quot;,&quot;Peru&quot;,
&quot;PH&quot;,&quot;Philippines&quot;,
&quot;PN&quot;,&quot;Pitcaim Islands&quot;,
&quot;PL&quot;,&quot;Poland&quot;,
&quot;PT&quot;,&quot;Portugal&quot;,
&quot;QA&quot;,&quot;Qatar&quot;,
&quot;RE&quot;,&quot;Reunion&quot;,
&quot;RO&quot;,&quot;Romania&quot;,
&quot;RU&quot;,&quot;Russia&quot;,
&quot;RW&quot;,&quot;Rwanda&quot;,
&quot;KN&quot;,&quot;St. Christopher (St. Kitts) &amp; Nevis&quot;,
&quot;SH&quot;,&quot;St. Helena&quot;,
&quot;LC&quot;,&quot;St. Lucia&quot;,
&quot;PM&quot;,&quot;St. Pierre &amp; Miquelon&quot;,
&quot;VC&quot;,&quot;St. Vincent &amp; the Grenadines&quot;,
&quot;SM&quot;,&quot;San Marino&quot;,
&quot;&quot;,&quot;Santa Cruz Islands&quot;,
&quot;ST&quot;,&quot;Sao Tome &amp; Principe&quot;,
&quot;SA&quot;,&quot;Saudi Arabia&quot;,
&quot;SN&quot;,&quot;Senegal&quot;,
&quot;RS&quot;,&quot;Serbia-Montenegro (Yugoslavia)&quot;,
&quot;SC&quot;,&quot;Seychelles&quot;,
&quot;SL&quot;,&quot;Sierra Leone&quot;,
&quot;SG&quot;,&quot;Singapore&quot;,
&quot;SK&quot;,&quot;Slovak Republic (Slovakia)&quot;,
&quot;SI&quot;,&quot;Slovenia&quot;,
&quot;SB&quot;,&quot;Solomon Islands&quot;,
&quot;SO&quot;,&quot;Somalia&quot;,
&quot;ZA&quot;,&quot;South Africa&quot;,
&quot;ES&quot;,&quot;Spain&quot;,
&quot;LK&quot;,&quot;Sri Lanka&quot;,
&quot;SD&quot;,&quot;Sudan&quot;,
&quot;SR&quot;,&quot;Suriname&quot;,
&quot;SZ&quot;,&quot;Swaziland&quot;,
&quot;SE&quot;,&quot;Sweden&quot;,
&quot;CH&quot;,&quot;Switzerland&quot;,
&quot;SY&quot;,&quot;Syrian Arab Republic&quot;,
&quot;&quot;,&quot;Tahiti&quot;,
&quot;TW&quot;,&quot;Taiwan&quot;,
&quot;TJ&quot;,&quot;Tajikistan&quot;,
&quot;TZ&quot;,&quot;Tanzania&quot;,
&quot;TH&quot;,&quot;Thailand&quot;,
&quot;TG&quot;,&quot;Togo&quot;,
&quot;TO&quot;,&quot;Tonga&quot;,
&quot;TT&quot;,&quot;Trinidad &amp; Tobago&quot;,
&quot;SH&quot;,&quot;Tristan da Cunha&quot;,
&quot;TN&quot;,&quot;Tunisia&quot;,
&quot;TR&quot;,&quot;Turkey&quot;,
&quot;TM&quot;,&quot;Turkmenistan&quot;,
&quot;TC&quot;,&quot;Turks &amp; Caicos Islands&quot;,
&quot;TV&quot;,&quot;Tuvalu&quot;,
&quot;UG&quot;,&quot;Uganda&quot;,
&quot;UA&quot;,&quot;Ukraine&quot;,
&quot;AE&quot;,&quot;United Arab Emirates&quot;,
&quot;GB&quot;,&quot;United Kingdom&quot;,
&quot;US&quot;,&quot;United States&quot;,
&quot;UY&quot;,&quot;Uruguay&quot;,
&quot;UZ&quot;,&quot;Uzbekistan&quot;,
&quot;VU&quot;,&quot;Vanuatu&quot;,
&quot;VA&quot;,&quot;Vatican City&quot;,
&quot;VE&quot;,&quot;Venezuela&quot;,
&quot;VN&quot;,&quot;Vietnam&quot;,
&quot;VI&quot;,&quot;Virgin Islands&quot;,
&quot;WF&quot;,&quot;Wallis &amp; Futuna Islands&quot;,
&quot;WS&quot;,&quot;Western Samoa&quot;,
&quot;YE&quot;,&quot;Yemen&quot;,
&quot;ZM&quot;,&quot;Zambia&quot;,
&quot;ZW&quot;,&quot;Zimbabwe&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varCompanyFirstLetter</name>
        <dataType>String</dataType>
        <expression>IF( ( ISPICKVAL({!$Record.Billing_Address__StateCode__s},&apos;NY&apos;) || ISPICKVAL({!$Record.Billing_Address__StateCode__s},&apos;NJ&apos;)), IF( ISBLANK( {!$Record.Account.Name} ) , null, LEFT( {!$Record.Account.Name} , 1 )) , null )</expression>
    </formulas>
    <formulas>
        <name>varState</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK( TEXT({!$Record.Billing_Address__StateCode__s}) ), &apos;NULL&apos; , IF( {!varBillingCountry} &lt;&gt; &apos;United States&apos; , &apos;NULL&apos;, TEXT({!$Record.Billing_Address__StateCode__s}) ))</expression>
    </formulas>
    <formulas>
        <name>varZipCodeSplit</name>
        <dataType>String</dataType>
        <expression>IF( TEXT( {!$Record.Zip_Code_Split__c} ) = &apos;&apos; ,  &apos;NULL&apos;, TEXT( {!$Record.Zip_Code_Split__c}))</expression>
    </formulas>
    <interviewLabel>Opportunity - Populate AE, SA, ADR and Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Populate AE, ADR and Owner</label>
    <loops>
        <name>Loop_over_the_filtered_Territory_Assignment</name>
        <label>Loop over the filtered Territory Assignment</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <collectionReference>Filter_Territory_Assignemnt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Territory_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_Opportunity_Record_Type_equals_to_MSP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Default_Owner_Rick_Magana</name>
        <label>Get Default Owner Rick Magana</label>
        <locationX>1095</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Territory_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rick Magana</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Territory_Assignment</name>
        <label>Get Default Territory Assignment</label>
        <locationX>1095</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Territory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_Registered_Territory_Assignment</name>
        <label>Get MSP Registered Territory Assignment</label>
        <locationX>578</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Owner_and_MSP_Registered_Territory_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP Registered</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Assignment</name>
        <label>Get Territory Assignment</label>
        <locationX>1095</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>It_the_Opportunity_located_in_an_International_Territory</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Populate_AE_SA_ADR_and_Owner</name>
        <label>Populate AE, SA, ADR and Owner</label>
        <locationX>842</locationX>
        <locationY>1379</locationY>
        <inputAssignments>
            <field>AE_2__c</field>
            <value>
                <elementReference>varTerritoryAssignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTerritoryAssignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>varTerritoryAssignment.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment__c</field>
            <value>
                <elementReference>varTerritoryAssignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Owner</name>
        <label>Populate Owner</label>
        <locationX>1095</locationX>
        <locationY>2171</locationY>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE_2__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Default_Owner_Rick_Magana.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment__c</field>
            <value>
                <elementReference>Get_Default_Territory_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Owner_and_MSP_Registered_Territory_Assignment</name>
        <label>Populate Owner and MSP Registered Territory Assignment</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MSP_Registered_Territory_Assignment.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment__c</field>
            <value>
                <elementReference>Get_MSP_Registered_Territory_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_AE_SA_ADR_and_Owner</name>
        <label>Update Child AE, SA, ADR and Owner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>$Record.Account.Parent.ADR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE_2__c</field>
            <value>
                <elementReference>$Record.Account.Parent.AE_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>$Record.Account.Parent.SA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Assignment__c</field>
            <value>
                <elementReference>$Record.Account.Parent.Territory_Assignment__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>512</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_Opportunity_related_to_a_Child_Account</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 5) AND 3 AND 4</filterLogic>
        <filters>
            <field>Billing_Address__PostalCode__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Address__CountryCode__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>1400</triggerOrder>
    <variables>
        <name>currentItem_Filter_Territory_Assignemnt_For_International_Territory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTerritoryAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
</Flow>
