force-app/main/default/flows/Opportunity_Stage_Stamp_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Previous_Stage</name>
        <label>Previous Stage?</label>
        <locationX>1106</locationX>
        <locationY>767</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Discover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Discover_Stage_Duration</targetReference>
            </connector>
            <label>Discover</label>
        </rules>
        <rules>
            <name>Qualify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Qualify_Stage_Duration</targetReference>
            </connector>
            <label>Qualify</label>
        </rules>
        <rules>
            <name>Develop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Develop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Develop_Stage_Duration</targetReference>
            </connector>
            <label>Develop</label>
        </rules>
        <rules>
            <name>Validate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Validate_Stage_Duration</targetReference>
            </connector>
            <label>Validate</label>
        </rules>
        <rules>
            <name>Propose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Propose</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Propose_Stage_Duration</targetReference>
            </connector>
            <label>Propose</label>
        </rules>
        <rules>
            <name>Finalize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalize</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Finalize_Stage_Duration</targetReference>
            </connector>
            <label>Finalize</label>
        </rules>
        <rules>
            <name>Order_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Processing_Stage_Duration</targetReference>
            </connector>
            <label>Order Processing</label>
        </rules>
        <rules>
            <name>Win_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Win Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Win_Pending_Stage_Duration</targetReference>
            </connector>
            <label>Win Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Changed</name>
        <label>Stage Changed?</label>
        <locationX>1766</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Stage_Changed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Stage</targetReference>
            </connector>
            <label>Stage Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Decision</name>
        <label>Stage Decision</label>
        <locationX>1766</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Stage_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Discover_Stage</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Discover_Stage_Date</targetReference>
            </connector>
            <label>Discover Stage</label>
        </rules>
        <rules>
            <name>Qualify_Stage</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Qualify_Stage_Date</targetReference>
            </connector>
            <label>Qualify Stage</label>
        </rules>
        <rules>
            <name>Develop_Stage</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Develop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Develop_Stage_Date</targetReference>
            </connector>
            <label>Develop Stage</label>
        </rules>
        <rules>
            <name>Validate_Stage</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Validate_Stage_Date</targetReference>
            </connector>
            <label>Validate Stage</label>
        </rules>
        <rules>
            <name>Propose_Stage</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Propose</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Propose_Stage_Date</targetReference>
            </connector>
            <label>Propose Stage</label>
        </rules>
        <rules>
            <name>Finalize_Stage</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalize</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Finalize_Stage_Date</targetReference>
            </connector>
            <label>Finalize Stage</label>
        </rules>
        <rules>
            <name>Order_Processing_Stage</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Processing_Stage_Date</targetReference>
            </connector>
            <label>Order Processing Stage</label>
        </rules>
        <rules>
            <name>Win_Pending_Stage</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Win Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Win_Pending_Stage_Date</targetReference>
            </connector>
            <label>Win Pending Stage</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NewStageStamp</name>
        <dataType>Date</dataType>
        <expression>CASE( TEXT({!$Record.StageName}),
&quot;Discover&quot;, {!$Record.Discover_Stage_Date__c},
&quot;Qualify&quot;, {!$Record.Qualify_Stage_Date__c},
&quot;Develop&quot;, {!$Record.Develop_Stage_Date__c},
&quot;Validate&quot;, {!$Record.Validate_Stage_Date__c},
&quot;Propose&quot;, {!$Record.Propose_Stage_Date__c},
&quot;Finalize&quot;, {!$Record.Finalize_Stage_Date__c},
&quot;Order Processing&quot;, {!$Record.Order_Processing_Stage_Date__c},
&quot;Win Pending&quot;, {!$Record.Win_Pending_Stage_Date__c},
TODAY() )</expression>
    </formulas>
    <formulas>
        <name>PriorStageStamp</name>
        <dataType>Date</dataType>
        <expression>CASE( TEXT({!$Record__Prior.StageName}),
&quot;Discover&quot;, {!$Record.Discover_Stage_Date__c},
&quot;Qualify&quot;, {!$Record.Qualify_Stage_Date__c},
&quot;Develop&quot;, {!$Record.Develop_Stage_Date__c},
&quot;Validate&quot;, {!$Record.Validate_Stage_Date__c},
&quot;Propose&quot;, {!$Record.Propose_Stage_Date__c},
&quot;Finalize&quot;, {!$Record.Finalize_Stage_Date__c},
&quot;Order Processing&quot;, {!$Record.Order_Processing_Stage_Date__c},
&quot;Win Pending&quot;, {!$Record.Win_Pending_Stage_Date__c},
TODAY() )</expression>
    </formulas>
    <formulas>
        <name>TotalDuration</name>
        <dataType>Number</dataType>
        <expression>{!NewStageStamp} - {!PriorStageStamp}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Opportunity - Stage Stamp Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Stage Stamp Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Develop_Stage_Date</name>
        <label>Update Develop Stage Date</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Develop_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Develop_Stage_Duration</name>
        <label>Update Develop Stage Duration</label>
        <locationX>578</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>Develop_Duration__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Discover_Stage_Date</name>
        <label>Update Discover Stage Date</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Discover_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Discover_Stage_Duration</name>
        <label>Update Discover Stage Duration</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>Discover_Duration__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Finalize_Stage_Date</name>
        <label>Update Finalize Stage Date</label>
        <locationX>2030</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Finalize_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Finalize_Stage_Duration</name>
        <label>Update Finalize Stage Duration</label>
        <locationX>1370</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>Finalize_Duration__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Processing_Stage_Date</name>
        <label>Update Order Processing Stage Date</label>
        <locationX>2294</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_Processing_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Processing_Stage_Duration</name>
        <label>Update Order Processing Stage Duration</label>
        <locationX>1634</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>Order_Processing_Duration__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Propose_Stage_Date</name>
        <label>Update Propose Stage Date</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Propose_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Propose_Stage_Duration</name>
        <label>Update Propose Stage Duration</label>
        <locationX>1106</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>Propose_Duration__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Qualify_Stage_Date</name>
        <label>Update Qualify Stage Date</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Qualify_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Qualify_Stage_Duration</name>
        <label>Update Qualify Stage Duration</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>Qualify_Duration__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Validate_Stage_Date</name>
        <label>Update Validate Stage Date</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Validate_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Validate_Stage_Duration</name>
        <label>Update Validate Stage Duration</label>
        <locationX>842</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>Validate_Duration__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Win_Pending_Stage_Date</name>
        <label>Update Win Pending Stage Date</label>
        <locationX>2558</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Win_Pending_Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Win_Pending_Stage_Duration</name>
        <label>Update Win Pending Stage Duration</label>
        <locationX>1898</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>Win_Pending_Duration__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Decision</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
