force-app/main/default/flows/Opportunity_Populate_Zip_Code_and_Zip_Code_Split.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Does_Zip_Code_Exist</name>
        <label>Does Zip Code Exist</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zip_Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Zip_Code_and_Zip_Code_Split</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added restrictions to the StageName not able to be Closed Won/Lost to trigger the flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>varZipCodeFormula</name>
        <dataType>String</dataType>
        <expression>LEFT(SUBSTITUTE({!$Record.Billing_Address__PostalCode__s}, &quot; &quot;, &quot;&quot;),5)</expression>
    </formulas>
    <formulas>
        <name>varZipCodeSplitFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!Get_Zip_Code.Zip_Code_Split__c}))), TEXT({!Get_Zip_Code.Zip_Code_Split__c}) , &apos;Null&apos;)</expression>
    </formulas>
    <interviewLabel>Opportunity - Populate Zip Code and Zip Code Split {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Populate Zip Code and Zip Code Split</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Zip_Code</name>
        <label>Get Zip Code</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Zip_Code_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varZipCodeFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Populate_Zip_Code_and_Zip_Code_Split</name>
        <label>Populate Zip Code and Zip Code Split</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Billing_Address__CountryCode__s</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__StateCode__s</field>
            <value>
                <elementReference>Get_Zip_Code.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code_Split__c</field>
            <value>
                <elementReference>varZipCodeSplitFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>Get_Zip_Code.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Zip_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Address__PostalCode__s</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>1200</triggerOrder>
</Flow>
