force-app/main/default/flows/Opportunity_Create_Commission_Tracker_Record_From_Related_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Rick updated the  Screen flow for the following fields: CAM Commission and Channel SA Commission. I recreated the flow in sandbox and ran the debug to make sure the fields were present on the screen and they were. This change was made on 03.19.24.

On 04.09.24 Rick added &apos;Notes for Calculation&apos;.</description>
    <environments>Default</environments>
    <formulas>
        <name>OpportunityOwnerName</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_Record.Owner.FirstName} +&apos; &apos;+{!Get_Opportunity_Record.Owner.LastName}</expression>
    </formulas>
    <interviewLabel>Opportunity : Create Commission Tracker Record From Related List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity : Create Commission Tracker Record From Related List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Commission_Tracker_Record</name>
        <label>Create Commission Tracker Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>AE_Accelerator__c</field>
            <value>
                <elementReference>AE_Accelerator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE_Commission__c</field>
            <value>
                <elementReference>AE_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AE_Commissionable_Rate__c</field>
            <value>
                <elementReference>AE_Commissionable_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>AccountName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Contract_Value__c</field>
            <value>
                <elementReference>Annual_Contract_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Frequency__c</field>
            <value>
                <elementReference>Billing_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_Location_Name__c</field>
            <value>
                <elementReference>Building_Location_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAM_Commission__c</field>
            <value>
                <elementReference>CAM_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_SA_Commission__c</field>
            <value>
                <elementReference>Channel_SA_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Payment_Amount__c</field>
            <value>
                <elementReference>Invoice_Payment_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Payment_Date__c</field>
            <value>
                <elementReference>Invoice_Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Commission_Tracker_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_for_Calculation__c</field>
            <value>
                <elementReference>Notes_for_Calculation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Buildings_Locations__c</field>
            <value>
                <elementReference>Number_of_Buildings_Locations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Months__c</field>
            <value>
                <elementReference>Number_of_Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Users_or_Square_Footage__c</field>
            <value>
                <elementReference>Number_of_Users_or_Square_Footage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>OpportunityName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Owner__c</field>
            <value>
                <elementReference>OpportunityOwner.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA_Accelerator__c</field>
            <value>
                <elementReference>SA_Accelerator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA_Commission__c</field>
            <value>
                <elementReference>SA_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA_Commissionable_Rate__c</field>
            <value>
                <elementReference>SA_Commissionable_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA__c</field>
            <value>
                <elementReference>SA.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Commission_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Commission_Tracker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.SA__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Commission_Tracker</name>
        <label>Commission Tracker</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Commission_Tracker_Record</targetReference>
        </connector>
        <fields>
            <name>Commission_Tracker_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Tracker_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Commission_Tracker_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Commission Tracker Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_Tracker_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AE_Accelerator</name>
                    <dataType>Boolean</dataType>
                    <fieldText>AE Accelerator</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commission_Tracker_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Tracker_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Commission_Tracker__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Account_Record.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_Tracker_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpportunityName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Opportunity_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Commission_Tracker__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity_Record.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commission_Tracker_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Tracker_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AE_Commission</name>
                    <dataType>Currency</dataType>
                    <fieldText>AE Commission</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_Tracker_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AE_Commissionable_Rate</name>
                    <dataType>Number</dataType>
                    <fieldText>AE Commissionable Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commission_Tracker_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Tracker_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SA_Commission</name>
                    <dataType>Currency</dataType>
                    <fieldText>SA Commission</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_Tracker_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SA_Commissionable_Rate</name>
                    <dataType>Number</dataType>
                    <fieldText>SA Commissionable Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commission_Tracker_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Tracker_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SA_Accelerator</name>
                    <dataType>Boolean</dataType>
                    <fieldText>SA Accelerator</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_Tracker_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Payment_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Invoice Payment Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commission_Tracker_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Tracker_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Payment_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Invoice Payment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_Tracker_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Building_Location_Name</name>
                    <fieldText>Building/Location Name</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commission_Tracker_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Tracker_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpportunityOwner</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Opportunity_Owner__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Commission_Tracker__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity_Record.OwnerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_Tracker_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SA</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SA__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SA</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Commission_Tracker__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_User_Record.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commission_Tracker_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Tracker_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity_Record.CloseDate</elementReference>
                    </defaultValue>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_Tracker_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Annual_Contract_Value</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity_Record.Annual_Contract_Value__c</elementReference>
                    </defaultValue>
                    <fieldText>Annual Contract Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commission_Tracker_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Tracker_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Buildings_Locations</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Account_Record.Number_of_Locations__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Buildings/Locations</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_Tracker_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Users_or_Square_Footage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity_Record.Number_of_Users__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Users or Square Footage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commission_Tracker_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Tracker_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Months</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity_Record.Number_of_Months__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Months</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_Tracker_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Frequency</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity_Record.Billing_Frequency__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Frequency</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commission_Tracker_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Tracker_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CAM_Commission</name>
                    <dataType>Currency</dataType>
                    <fieldText>CAM Commission</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_Tracker_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Channel_SA_Commission</name>
                    <dataType>Currency</dataType>
                    <fieldText>Channel SA Commission</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commission_Tracker_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Tracker_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Notes_for_Calculation</name>
                    <dataType>String</dataType>
                    <fieldText>Notes for Calculation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
