force-app/main/default/flows/Opportunity_Early_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Opportunity_Approval_Process</name>
        <label>Opportunity Approval Process</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Opportunity_Approval_Process_early</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>varCompletedChoice</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>varHighValueChoice</name>
        <choiceText>High Value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High Value</stringValue>
        </value>
    </choices>
    <choices>
        <name>varLowValueChoice</name>
        <choiceText>Low Value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low Value</stringValue>
        </value>
    </choices>
    <choices>
        <name>varMediumValueChoice</name>
        <choiceText>Medium Value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium Value</stringValue>
        </value>
    </choices>
    <choices>
        <name>varNAChoice</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>varRequiredChoice</name>
        <choiceText>Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Required</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>varChampionChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Champion_Form__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varCoachChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Coach__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varEconomicBIChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Economic_BI__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varInitialTCOROIChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Initial_TCO_ROI__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varMetChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Met__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPartnerInvolvedChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Initiated_By__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPartnerInvolvedChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partner_Involved__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPicklistChoseSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Main_Usage_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varProposedModelChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Proposed_Model__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varProposedPricingModelChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Proposed_Pricing_Model__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varTechBIChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tech_BI__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varTermLengthChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Term_Length__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varVerticalChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Early Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Early Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Opportunity_Approval_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cabling__c</field>
            <value>
                <elementReference>Cabling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Champion_Form__c</field>
            <value>
                <elementReference>Champion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coach__c</field>
            <value>
                <elementReference>Coach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complexity__c</field>
            <value>
                <elementReference>Complexity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demo__c</field>
            <value>
                <elementReference>Demo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EOL_EOS_EOD__c</field>
            <value>
                <elementReference>EOL_EOS_EOD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Economic_BI__c</field>
            <value>
                <elementReference>Economic_BI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Competitive_Proposal_Price__c</field>
            <value>
                <elementReference>Estimated_Competitive_Proposal_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eval__c</field>
            <value>
                <elementReference>Eval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Filled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_opportunity_size__c</field>
            <value>
                <elementReference>Future_opportunity_size_Users</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Offload__c</field>
            <value>
                <elementReference>IT_Offload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>Vertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_TCO_ROI__c</field>
            <value>
                <elementReference>Initial_TCO_ROI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initiated_By__c</field>
            <value>
                <elementReference>Partner_Involved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MTTI_MTTR_Reduction__c</field>
            <value>
                <elementReference>MTTI_MTTR_Reduction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Usage_Type__c</field>
            <value>
                <elementReference>Main_Usage_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Max_Capacity_Space_Defined__c</field>
            <value>
                <elementReference>Max_Capacity_Space_Defined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Met__c</field>
            <value>
                <elementReference>Met</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_AP_Sensors__c</field>
            <value>
                <elementReference>Number_of_AP_s_Current_and_Proposed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_AS_Current_and_Proposed__c</field>
            <value>
                <elementReference>Number_of_AS_Current_and_Proposed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_DS_Current_and_Proposed__c</field>
            <value>
                <elementReference>Number_of_DS_Current_and_Proposed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_HE__c</field>
            <value>
                <elementReference>Number_of_HE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Months__c</field>
            <value>
                <elementReference>Term_Length</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_SE_Current_and_Proposed__c</field>
            <value>
                <elementReference>Number_of_SE_Current_and_Proposed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Users_Customer_Defined__c</field>
            <value>
                <elementReference>Number_of_Users_Customer_Defined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Users__c</field>
            <value>
                <elementReference>Current_opportunity_size_Users</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPEX__c</field>
            <value>
                <elementReference>OPEX</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Per_User_Per_Month__c</field>
            <value>
                <elementReference>Proposed_Price_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot__c</field>
            <value>
                <elementReference>Pilot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoC_Form__c</field>
            <value>
                <elementReference>PoC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Model__c</field>
            <value>
                <elementReference>Proposed_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Pricing_Model__c</field>
            <value>
                <elementReference>Proposed_Pricing_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA__c</field>
            <value>
                <elementReference>SLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Security__c</field>
            <value>
                <elementReference>Security</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Deal_Parameters__c</field>
            <value>
                <elementReference>Special_Deal_Parameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Square_Footage__c</field>
            <value>
                <elementReference>Square_Footage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supply_Chain_Issues__c</field>
            <value>
                <elementReference>Supply_Chain_Issues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCO_ROI__c</field>
            <value>
                <elementReference>TCO_ROI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_BI__c</field>
            <value>
                <elementReference>Tech_BI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usage_Based_Billing__c</field>
            <value>
                <elementReference>Usage_Based_Billing</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <fields>
            <name>Section_1</name>
            <fieldText>Section 1 Of 4</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NileBudgetaryPricingRequest</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Nile Budgetary Pricing Request&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: docs-Roboto; color: rgb(32, 33, 36);&quot;&gt;Instructions:&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Fill out the form completely&lt;/li&gt;&lt;li&gt;Request will be reviewed within 24 hours&lt;/li&gt;&lt;li&gt;If questions, a call will be scheduled to review&lt;/li&gt;&lt;li&gt;If bringing to the deals desk review call, fill out form 24 hours before the call&lt;/li&gt;&lt;li&gt;CRO will approve pricing request&lt;/li&gt;&lt;li&gt;Present pricing to customer&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section_2</name>
            <fieldText>Section 2 Of 4</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpportunityInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity Info&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Opportunity_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Name</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Vertical</name>
                    <choiceReferences>varVerticalChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Industry__c</elementReference>
                    </defaultValue>
                    <fieldText>Vertical</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Partner_Involved</name>
                    <choiceReferences>varPartnerInvolvedChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Initiated_By__c</elementReference>
                    </defaultValue>
                    <fieldText>Partner Involved</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Main_Usage_Type</name>
                    <choiceReferences>varPicklistChoseSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Main Usage Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Current_opportunity_size_Users</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Number_of_Users__c</elementReference>
                    </defaultValue>
                    <fieldText>Current opportunity size - Users</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Future_opportunity_size_Users</name>
                    <dataType>Number</dataType>
                    <fieldText>Future opportunity size - Users</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>AccountPosition</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Position&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Met</name>
                    <choiceReferences>varMetChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Met</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Coach</name>
                    <choiceReferences>varCoachChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Coach</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Champion</name>
                    <choiceReferences>varChampionChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Champion</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Tech_BI</name>
                    <choiceReferences>varTechBIChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tech BI</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Economic_BI</name>
                    <choiceReferences>varEconomicBIChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Economic BI</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Competition_Incumbent_Proposed</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Competition (Incumbent/Proposed) : &lt;/strong&gt;{!Get_Opportunity.Competitor__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Initial_TCO_ROI</name>
                    <choiceReferences>varInitialTCOROIChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Initial TCO/ROI</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PainValueMeasure</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(241, 243, 244); font-size: 16px; font-family: docs-Roboto; color: rgb(32, 33, 36);&quot;&gt;Pain/Value Measure&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SLA</name>
                    <choiceReferences>varHighValueChoice</choiceReferences>
                    <choiceReferences>varMediumValueChoice</choiceReferences>
                    <choiceReferences>varLowValueChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>SLA</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Security</name>
                    <choiceReferences>varHighValueChoice</choiceReferences>
                    <choiceReferences>varMediumValueChoice</choiceReferences>
                    <choiceReferences>varLowValueChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Security</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IT_Offload</name>
                    <choiceReferences>varHighValueChoice</choiceReferences>
                    <choiceReferences>varMediumValueChoice</choiceReferences>
                    <choiceReferences>varLowValueChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>IT Offload</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cabling</name>
                    <choiceReferences>varHighValueChoice</choiceReferences>
                    <choiceReferences>varMediumValueChoice</choiceReferences>
                    <choiceReferences>varLowValueChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Cabling</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>EOL_EOS_EOD</name>
                    <choiceReferences>varHighValueChoice</choiceReferences>
                    <choiceReferences>varMediumValueChoice</choiceReferences>
                    <choiceReferences>varLowValueChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>EOL/EOS/EOD</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Visibility</name>
                    <choiceReferences>varHighValueChoice</choiceReferences>
                    <choiceReferences>varMediumValueChoice</choiceReferences>
                    <choiceReferences>varLowValueChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Visibility</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>MTTI_MTTR_Reduction</name>
                    <choiceReferences>varHighValueChoice</choiceReferences>
                    <choiceReferences>varMediumValueChoice</choiceReferences>
                    <choiceReferences>varLowValueChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>MTTI/MTTR Reduction</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>OPEX</name>
                    <choiceReferences>varHighValueChoice</choiceReferences>
                    <choiceReferences>varMediumValueChoice</choiceReferences>
                    <choiceReferences>varLowValueChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>OPEX</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>TCO_ROI</name>
                    <choiceReferences>varHighValueChoice</choiceReferences>
                    <choiceReferences>varMediumValueChoice</choiceReferences>
                    <choiceReferences>varLowValueChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>TCO/ROI</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Complexity</name>
                    <choiceReferences>varHighValueChoice</choiceReferences>
                    <choiceReferences>varMediumValueChoice</choiceReferences>
                    <choiceReferences>varLowValueChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Complexity</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Usage_Based_Billing</name>
                    <choiceReferences>varHighValueChoice</choiceReferences>
                    <choiceReferences>varMediumValueChoice</choiceReferences>
                    <choiceReferences>varLowValueChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Usage Based Billing</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Supply_Chain_Issues</name>
                    <choiceReferences>varHighValueChoice</choiceReferences>
                    <choiceReferences>varMediumValueChoice</choiceReferences>
                    <choiceReferences>varLowValueChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Supply Chain Issues</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>TechnicalValidation</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(241, 243, 244); font-size: 16px; font-family: docs-Roboto; color: rgb(32, 33, 36);&quot;&gt;Technical Validation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: docs-Roboto; color: rgb(32, 33, 36);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;If PoC/Pilot Required, test plan with success criteria must be uploaded to customer folder.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Demo</name>
                    <choiceReferences>varCompletedChoice</choiceReferences>
                    <choiceReferences>varRequiredChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Demo</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Eval</name>
                    <choiceReferences>varCompletedChoice</choiceReferences>
                    <choiceReferences>varRequiredChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Eval</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PoC</name>
                    <choiceReferences>varCompletedChoice</choiceReferences>
                    <choiceReferences>varRequiredChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>PoC</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Pilot</name>
                    <choiceReferences>varCompletedChoice</choiceReferences>
                    <choiceReferences>varRequiredChoice</choiceReferences>
                    <choiceReferences>varNAChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pilot</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section_3</name>
            <fieldText>Section 3 Of 4</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InitialScoping</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Initial Scoping&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Ballpark numbers, estimations are ok at this phase.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Square_Footage</name>
                    <dataType>Number</dataType>
                    <fieldText>Square Footage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Max_Capacity_Space_Defined</name>
                    <dataType>Number</dataType>
                    <fieldText>Max Capacity - Space Defined</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Users_Customer_Defined</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Users  - Customer Defined</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_AP_s_Current_and_Proposed</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Number_of_AP_Sensors__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of AP&apos;s (Current and Proposed)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_AS_Current_and_Proposed</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of AS (Current and Proposed)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_DS_Current_and_Proposed</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of DS (Current and Proposed)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_HE</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of HE</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_SE_Current_and_Proposed</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of SE (Current and Proposed)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section_4_Of_4</name>
            <fieldText>Section 4 Of 4</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_4_Of_4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PricingRequest</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Pricing Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UploadCompletedPricingCalculator</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Completed Pricing Calculator</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.xlsm, .xlsx</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Save with name of opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Proposed_Price_User</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Per_User_Per_Month__c</elementReference>
                    </defaultValue>
                    <fieldText>Proposed Price/User</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Proposed_Pricing_Model</name>
                    <choiceReferences>varProposedPricingModelChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Proposed Pricing Model</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Term_Length</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Number_of_Months__c</elementReference>
                    </defaultValue>
                    <fieldText>Term Length</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Proposed_Model</name>
                    <choiceReferences>varProposedModelChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Proposed Model</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Estimated_Competitive_Proposal_Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Estimated Competitive Proposal Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Special_Deal_Parameters</name>
                    <fieldText>Special Deal Parameters</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
