force-app/main/default/flows/Order_Update_End_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Update Order End Date with the latest end dates among Order Products.
It runs only once after Order creation, as end dates are not editable once the Order is activated.</description>
    <environments>Default</environments>
    <interviewLabel>Order: Update latest End Date from Order Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order: Update End Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Order Product that has the latest End Date</description>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Order End Date with the latest End Date in Order Products</description>
        <name>Update_End_Date</name>
        <label>Update End Date</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Get_Order_Products.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Lookup</name>
        <label>Update Quote Lookup</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__PrimaryQuote__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quote_Lookup</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_after_2_minute</name>
            <connector>
                <targetReference>Get_Order_Products</targetReference>
            </connector>
            <label>Run after 2 minute</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
