force-app/main/default/flows/Product_Publish_Platform_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Values_to_Product_Event_Fields</name>
        <label>Assign Values to Product Event Fields</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Product_Event_Variable.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Event_Variable.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Event_Variable.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Event_Variable.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Event_Variable.Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Event_Variable.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Event_Variable.Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Family</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Platform_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Set_Up_Entry_Conditions</name>
        <label>Set Up Entry Conditions</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Publish_Events</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProductCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Product_Event_Fields</targetReference>
            </connector>
            <label>Publish Events</label>
        </rules>
    </decisions>
    <description>When Product is created or Updated, Publish a Platform Event for sync to NetSuite via MuleSoft</description>
    <environments>Default</environments>
    <interviewLabel>Product: Publish Platform Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product: Publish Platform Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Product_Platform_Event</name>
        <label>Create Product Platform Event</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>Product_Event_Variable</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Up_Entry_Conditions</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Product_Event_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Event__e</objectType>
    </variables>
</Flow>
