force-app/main/default/flows/Territory_Assignment_Move_To_Another_Territory_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Accounts_s_AE_SA_ADR_Assignment</name>
        <label>Update Accounts&apos;s AE, SA, ADR Assignment</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>UpdateAssignmentInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountInputList</name>
            <value>
                <elementReference>varAccountRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>aEorADRorSA</name>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>territoryAssignmentObj</name>
            <value>
                <elementReference>Get_Territory_Assignmen</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateAssignmentInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Lead_s_AE_SA_ADR_Assignment</name>
        <label>Update Lead&apos;s AE, SA, ADR Assignment</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>UpdateAssignmentInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>aEorADRorSA</name>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadInputList</name>
            <value>
                <elementReference>varLeadRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>territoryAssignmentObj</name>
            <value>
                <elementReference>Get_Territory_Assignmen</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateAssignmentInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Opportunity_s_AE_SA_ADR_Assignment</name>
        <label>Update Opportunity&apos;s AE, SA, ADR Assignment</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <actionName>UpdateAssignmentInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>aEorADRorSA</name>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityInputList</name>
            <value>
                <elementReference>varOpportunityRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>territoryAssignmentObj</name>
            <value>
                <elementReference>Get_Territory_Assignmen</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateAssignmentInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Object_Name</name>
        <label>Object Name</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_s_AE_SA_ADR_Assignment</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Accounts_s_AE_SA_ADR_Assignment</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_s_AE_SA_ADR_Assignment</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Territory Assignment - Move to another Territory Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Territory Assignment - Move To Another Territory Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Territory_Assignmen</name>
        <label>Get Territory Assignmen</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Object_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Territory_Assignment.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Territory_Assignment_Screen</name>
        <label>Select Territory Assignment Screen</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Territory_Assignmen</targetReference>
        </connector>
        <fields>
            <name>Territory_Assignment</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Territory_Assignment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Territory Assignment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Territory_Assignment_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varLeadRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
