force-app/main/default/flows/Update_show_message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Update_Lead</name>
        <label>Update Lead</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Duplicate_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Lead2</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Duplicate_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Matching_Account.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Found_Matching_Account</name>
        <label>Found Matching Account?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Matching_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>this flow finds any closed won accounts with matching Company Name or Website/Domain to Leads.</description>
    <environments>Default</environments>
    <formulas>
        <name>LeadCompanyLowercase</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(LOWER({!$Record.Company}), &apos; &apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>This will trim the lead email to grab the domain of the email only.</description>
        <name>LeadEmailDomain</name>
        <dataType>String</dataType>
        <expression>LEFT(RIGHT({!$Record.Email}, LEN({!$Record.Email}) - FIND(&apos;@&apos;, {!$Record.Email})), FIND(&apos;.&apos;, RIGHT({!$Record.Email}, LEN({!$Record.Email}) - FIND(&apos;@&apos;,{!$Record.Email}))) - 1)</expression>
    </formulas>
    <interviewLabel>Update show message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Find Matching Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Matching_Account</name>
        <label>Find Matching Account</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Matching_Account</targetReference>
        </connector>
        <filterLogic>(((1 AND 5) OR (2 AND 4)) AND 3) OR ( 6 AND 7 AND 8)</filterLogic>
        <filters>
            <field>Account_Name_Substitute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadCompanyLowercase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasClosedWonOpp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Trimmed_Website_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadEmailDomain</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasClosedWonOpp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Matching_Account</targetReference>
        </connector>
        <filterFormula>OR(
  ISNEW(), 
  ISBLANK({!$Record.Duplicate_Account__c}) == TRUE, 
  ISCHANGED({!$Record.Company}), 
  ISCHANGED({!$Record.Website}) , 
  ISCHANGED({!$Record.Email})
)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1600</triggerOrder>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
