force-app/main/default/flows/Zip_Code_Update_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Update New Assignment For SDR or AE</description>
        <name>Update_New_Assignment</name>
        <label>Update New Assignment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>UpdateAssignmentForZipCodeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>displayMessage</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>newAssignment</name>
            <value>
                <elementReference>New_Assignment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldAssignment</name>
            <value>
                <elementReference>Old_Assignment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sDRorBDRorAE</name>
            <value>
                <elementReference>SDR_or_ADR_or_AE</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateAssignmentForZipCodeInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>ADR</name>
        <choiceText>ADR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADR</stringValue>
        </value>
    </choices>
    <choices>
        <name>AE</name>
        <choiceText>AE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AE</stringValue>
        </value>
    </choices>
    <choices>
        <name>ALL</name>
        <choiceText>ALL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ALL</stringValue>
        </value>
    </choices>
    <choices>
        <name>CSR</name>
        <choiceText>CSR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CSR</stringValue>
        </value>
    </choices>
    <choices>
        <name>SA</name>
        <choiceText>SA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SA </stringValue>
        </value>
    </choices>
    <choices>
        <name>SDR</name>
        <choiceText>SDR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SDR</stringValue>
        </value>
    </choices>
    <description>Updated Flow For SDR and AE</description>
    <dynamicChoiceSets>
        <name>region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Zip_Code__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>state</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Zip_Code__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>userPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Zip Code - Update Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Zip Code - Update Assigments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>displayMessage</name>
        <label>displayMessage</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OutputMsg</name>
            <fieldText>&lt;p&gt;The records are being processed and will be completed in approximately two minutes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Zip_Code_Details</name>
        <label>Update Zip Code Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_New_Assignment</targetReference>
        </connector>
        <fields>
            <name>SDR_or_ADR_or_AE</name>
            <choiceReferences>SDR</choiceReferences>
            <choiceReferences>AE</choiceReferences>
            <choiceReferences>ADR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SDR or ADR or AE</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Old_Assignment</name>
            <choiceReferences>userPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Old Assignment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Assignment</name>
            <choiceReferences>userPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Assignment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Zip_Code_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AEZipCodeData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zip_Code__c</objectType>
    </variables>
    <variables>
        <name>AEZipCodeId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
